{% include parent_include_directory ~ '/templates/_includes/global/header.html.twig' %}

<main class="main-content" id="main-content">

	{{ page.alerts }}

	<section class="section--padded-top section--padded-bottom" aria-label="404">
		<div class="compartment">
			<h1 class="post-header__title">Page Not Found</h2>
			<section class="section--padded-bottom" aria-label="404 Menu">
				<h3>Sorry, the page you requested can't be found.</h3>
				<p>Here are a few links to help get the content you want:</p>
				<div class="pnf--primary">
					{{ page.primary_menu }}
				</div>
			</section>
			<section class="section--padded-bottom" aria-label="404 Search">
				<h3>Not what you're looking for? Try searching our site:</h3>
				<form class="search-form" data-drupal-selector="search-form" action="/search/node" method="get" id="search-form" accept-charset="UTF-8">
					<div class="container-inline js-form-wrapper form-wrapper" data-drupal-selector="edit-basic" id="edit-basic"><div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys">
						<label for="edit-keys">Enter your keywords</label>
						<input data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" id="keyword" placeholder="Search..." size="30" maxlength="255" class="form-search" />
					</div>
					<input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Search" class="button js-form-submit form-submit" />
				</form>
			</section>
		</div>
	</section>

</main>

{% include parent_include_directory ~ '/templates/_includes/global/footer.html.twig' %}
