{% include parent_include_directory ~ '/templates/_includes/global/header.html.twig' %}

<main class="main-content" id="main-content">

	{{ messages }}
	{{ page.help }}

	{# Internal page Hero #}
	<div class="hero-image" style="background-image:url('{{ hero_image }}')"></div>
	<header class="post-header">
		<div
			class="compartment">
			{# Manually fake the breadcrumbs #}
			<nav aria-label="breadcrumb" class="breadcrumb">
				<ol class="breadcrumb__items">
					<li class="breadcrumb__item">
						<a href="/">
							<span class="breadcrumb__back-to-parent">Back to
							</span>
							<span class="breadcrumb__item-text">Home</span>
						</a>
					</li>
					<li class="breadcrumb__item">
						<a href="/user">
							<span class="breadcrumb__item-text">Login</span>
						</a>
					</li>
					<li class="breadcrumb__item breadcrumb__item--active">
						Password
					</li>
				</ol>
			</nav>
			<h1 class="post-header__title">Reset Password</h1>
		</div>
	</header>
	<section class="section--padded-top section--padded-bottom">
		<div class="compartment">

			<div class="hu_login hu_login--local">
				{{ page.content.hu_general_messages }}
				<h3>Administrator Password Reset</h3>
				<p>Password reset instructions will be sent to your registered Howard email address. This is only for existing content editors.
				</p>
				<form class="user-pass" data-drupal-selector="user-pass" action="/user/password" method="post" id="user-pass" accept-charset="UTF-8">
					<div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name">
						<label for="edit-name" class="js-form-required form-required">Username or email address</label>
						<input autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" class="form-text required" required="required" aria-required="true"/>
					</div>
					<input data-drupal-selector="edit-user-pass" type="hidden" name="form_id" value="user_pass">
					<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
						<input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Reset Password" class="btn btn--light js-form-submit form-submit"/>
					</div>
				</form>
			</div>

		</div>
	</section>
</main>

{% include parent_include_directory ~ '/templates/_includes/global/footer.html.twig' %}
