{% include parent_include_directory ~ '/templates/_includes/global/header.html.twig' %}

<main class="main-content" id="main-content">

	{{ messages }}
	{{ page.help }}

	{# Internal page Hero #}
	<div class="hero-image" style="background-image:url('{{ hero_image }}')"></div>
	<header class="post-header">
		<div
			class="compartment">
			{# Manually fake the breadcrumbs #}
			<nav aria-label="breadcrumb" class="breadcrumb">
				<ol class="breadcrumb__items">
					<li class="breadcrumb__item">
						<a href="/">
							<span class="breadcrumb__back-to-parent">Back to
							</span>
							<span class="breadcrumb__item-text">Home</span>
						</a>
					</li>
					<li class="breadcrumb__item">
						<a href="/user">
							<span class="breadcrumb__item-text">Login</span>
						</a>
					</li>
					<li class="breadcrumb__item breadcrumb__item--active">
						Password
					</li>
				</ol>
			</nav>
			<h1 class="post-header__title">Reset Password</h1>
		</div>
	</header>
	<section class="section--padded-top section--padded-bottom">
		<div class="compartment">

			<div class="hu_login hu_login--local">
				<h3>Administrator Password Reset</h3>
				<p>Password reset instructions will be sent to your registered Howard email address. This is only for existing content editors.
				</p>
				{{ page.content }}
			</div>

		</div>
	</section>
</main>

{% include parent_include_directory ~ '/templates/_includes/global/footer.html.twig' %}
