<div class="faculty-profile">

  <div class="faculty-profile__block">
    <div class="faculty-profile__img" style="background-image:url('{{path '/img/tolbert.jpg'}}')">
    </div>
    <h3>Firstname, Lastname</h3>
    <h4>Name of Position, Title</h4>
    <h5>Department Name</h5>
    <div class="faculty-profile__divider"></div>
    <a href="#" class=" faculty-profile__link faculty-profile__email"><span class=" icon icon-envelope"></span>FirstnameLastname@howard.edu</a>
    <a href="#" class="faculty-profile__link faculty-profile__phone"><span class=" icon icon-phone"></span> (202) 806-522</a>
    <a href="#" class="faculty-profile__link faculty-profile__address"><span class="icon icon-location"></span>Locke Hall
      264</a>
  </div>
  <div class="faculty-profile__btn">{{>@fancy-link--dark fancyLinktext="View Full Profile"}}</div>

</div>
