.faculty-profile {
  background: white;
  height: 100%;
  position: relative;
  border-radius: rem(4);
  padding-bottom: rem(48);
  @include media('medium') {
    padding-bottom: rem(60);
  }
  &__block {
    padding: rem(24) rem(15) rem(20) rem(15);
    @include media('medium') {
      padding: rem(30) rem(30) rem(20) rem(30);
    }
  }
  &__img {
    width: rem(160);
    height: rem(160);
    @extend %image-bck;
    margin: 0 auto rem(18) auto;
  }
  h3 {
    margin-bottom: rem(8);
    @extend %serif-bold;
    color: $navy;
    font-size: rem(16);
      line-height: rem(21);
    text-align: center;
    @include media('medium') {
      font-size: rem(20);
      line-height: rem(24)
    }
  }
  h4 {
    @extend %sans-bold;
    font-size: rem(12);
    line-height: rem(15);
    margin-bottom: rem(4);
    text-transform: uppercase;
    text-align: center;
    color: $mblue;
    @include media('medium') {
      font-size: rem(14);
      line-height: rem(18);
    }
  }
  h5 {
    font-size: rem(14);
    line-height: rem(16);
    margin-bottom: rem(10);
    @extend %serif-regular;
    color: $mblue;
    text-align: center;
    text-transform: none;
    letter-spacing: 0;
    @include media('medium') {
      font-size: rem(16);
      line-height: rem(20);
    }
  }
  &__link {
    display: block;
    margin: 0 auto;
    text-align: center;
    @extend %serif-regular;
    color: $navy;
    text-align: center;
    font-size: rem(14);
    line-height: 1.1rem;
    margin-bottom: .175rem;
    text-decoration: none;
  }
  &__divider {
    height: rem(1);
    background: $yellow;
    width: rem(85);
    margin: rem(10) auto;
    @include media('medium') {
      margin: rem(15) auto;
    }
  }
  .icon {
    margin-right: rem(10);
    display: inline-block;
    &:before {
      font-size: rem(19);
      color: $red;
    }
    &-map-marker {
      &::before {
        font-size: rem(22);
      }
    }
  }
  &__btn {
    background: $yellow;
    display: block;

    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    a {
      text-align: center;
      justify-content: center;
    }
    @include media('medium') {
      padding: rem(3);
    }
  }
}