<div class="contact-box">

  <h2 class="sidebar-title">General Information</h2>
  <p>
    <span>General Information </span>
    <span>202-238-XXXX</span>
    <span>email@howard.edu</span></p>
  <p>
    <span>Dr. John Thomas</span>
    <span>Professor and Chair</span>
    <span>202-238-XXXX</span>
    <span>email@howard.edu</span>
  </p>
</div>
