

<div class="announcements">
  <div class="block-header block-header--">
    <div class="block-header__title"><span class=" block-header__icon icon-announcement"></span><h2>Announcements</h2>
    </div>
  
  
  </div>
  <div class="silc-grid">
    <div class="silc-grid__col silc-grid__col--6-medium">
      <div class="announcements__block announcements__block--featured">
        <h3 class="announcements__title">Featured Announcement Vivamus Elementum Semper Nisi Varius </h3>
        <p><span class="body-text--date">May 21, 2018</span></p>
        <p>Proin finibus nibh orci, eu lobortis tortor pulvinar vel.Mauris feugiat pellentesque orci non varius. Aliquam
          sed facilisis lacus. In massa nulla, mollis sit amet elit id.</p>
      </div>
    </div>
    <div class="silc-grid__col silc-grid__col--6-medium">
      <div class="announcements__block">
        <h3 class="announcements__title">Featured Announcement Vivamus Elementum Semper Nisi Varius </h3>
        <span class="body-text--date">May 21, 2018</span>
        <p>Proin finibus nibh orci, eu lobortis tortor pulvinar vel.Mauris feugiat pellentesque orci non varius. Aliquam
          sed facilisis lacus. In massa nulla, mollis sit amet elit id.</p>
      </div>
    </div>
    <div class="silc-grid__col silc-grid__col--6-medium">
      <div class="announcements__block">
        <h3 class="announcements__title">Featured Announcement Vivamus Elementum Semper Nisi Varius </h3>
     <span class="body-text--date">May 21, 2018</span>
        <p>Proin finibus nibh orci, eu lobortis tortor pulvinar vel.Mauris feugiat pellentesque orci non varius. Aliquam
          sed facilisis lacus. In massa nulla, mollis sit amet elit id.</p>
      </div>
    </div>
    <div class="silc-grid__col silc-grid__col--6-medium">
      <div class="announcements__block">
        <h3 class="announcements__title">Featured Announcement Vivamus Elementum Semper Nisi Varius </h3>
     <span class="body-text--date">May 21, 2018</span>
        <p>Proin finibus nibh orci, eu lobortis tortor pulvinar vel.Mauris feugiat pellentesque orci non varius. Aliquam
          sed facilisis lacus. In massa nulla, mollis sit amet elit id.</p>
      </div>
    </div>
  </div>
</div>

