

<div class="outer-pad">
    <div class="giving-bbd__text-and-card">
        <div class="giving-bbd__text-and-card__text">
            <p class="giving-bbd__text-and-card__text-title">Browse Bison Businesses</p>
            <p class="giving-bbd__text-and-card__text-body">We recognize the impact that minority-owned businesses have in bringing unique goods and services to our communities worldwide and are excited to provide this resource for our Howard alumni.</p>
        </div>
        <div class="giving-bbd__text-and-card__card">
            <p class="giving-bbd__text-and-card__card-title">Submit to the Directory</p>
            <p class="giving-bbd__text-and-card__card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="giving-bbd__text-and-card__card-optional-link"><a href="#">Submit an Alumni Owned Business</a></p>
        </div>
    </div>
    <div class="giving-bbd__search-form">
        <form>
            <div class="giving-bbd__search-form__block">
                <label>Keyword</label>
                <input name="keyword" type="text" />
            </div>
            <div class="giving-bbd__search-form__block">
                <label>Country</label>
                <select name="country">
                    <option value="1">United States</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class "giving-bbd__search-form__block">
                <label>Industry</label>
                <select name="industry">
                    <option value="1">Business</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="giving-bbd__search-form__block">
                <label>State</label>
                <select name="state">
                    <option value="1">Maryland</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <input type="submit" class="btn" value="Search" />
        </form>
    </div>
    <div class="giving-bbd__business-list-container">
        <div class="giving-bbd__business-list">
            <div class="giving-bbd__business-list__labels">
                <div class="giving-bbd__business-list__labels-business">
                    <p>Business</p>
                </div>
                <div class="giving-bbd__business-list__labels-perks">
                    <p>Specials/Perks for Alumni</p>
                </div>
            </div>
            <div class="giving-bbd__business-list__item">
                <div class="giving-bbd__business-list__item-business-info">
                    <p class="giving-bbd__business-list__item-business-title">
                        <a href="#">Business Name Lorem Ipsum Dolor Sit <span class="icon-arrow-right"></span></a>
                    </p>
                    <p class="giving-bbd__business-list__item-business-description">Industry Lorem Ipsum Dolor</p>
                    <div class="giving-bbd__business-list__item-business-details silc-accordion">
                        <section class="silc-accordion__section">
                            <header class="giving-bbd__business-list__item-business-details-trigger silc-accordion__header">
                                <p class="silc-accordion__label">More Details</p>
                            </header>
                            <div class="giving-bbd__business-list__item-business-details-content silc-accordion__content">
                                <div class="giving-bbd__business-list__item-business-details-content__contact">
                                    <p class="giving-bbd__business-details-label">Contact Info</p>
                                    <p>12345 Street Address Lorem Ipsum</p>
                                    <p>City Lorem Ipsum, ST #####</p>
                                    <p>Country Lorem Ipsum</p>
                                    <p class="giving-bbd__business-details-email"><a href="mailto:email@email.com">email@email.com</a></p>
                                    <p class="giving-bbd__business-details-phone">(XXX) XXX-XXXX</p>
                                </div>
                                <div class="giving-bbd__business-list__item-business-details-content__alumni">
                                    <p class="giving-bbd__business-details-label">Alumni Info</p>
                                    <p>firstname lastnnme, 'XX</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="giving-bbd__business-list__item-perks">
                    <p>Special/Perk Lorem Ipsum Dolor Sit Amet Consecteteur</p>
                </div>
            </div>
            <div class="giving-bbd__business-list__item">
                <div class="giving-bbd__business-list__item-business-info">
                    <p class="giving-bbd__business-list__item-business-title">
                        <a href="#">Business Name Lorem Ipsum Dolor Sit <span class="icon-arrow-right"></span></a>
                    </p>
                    <p class="giving-bbd__business-list__item-business-description">Industry Lorem Ipsum Dolor</p>
                    <div class="giving-bbd__business-list__item-business-details silc-accordion">
                        <section class="silc-accordion__section">
                            <header class="giving-bbd__business-list__item-business-details-trigger silc-accordion__header">
                                <p class="silc-accordion__label">More Details</p>
                            </header>
                            <div class="giving-bbd__business-list__item-business-details-content silc-accordion__content">
                                <div class="giving-bbd__business-list__item-business-details-content__contact">
                                    <p class="giving-bbd__business-details-label">Contact Info</p>
                                    <p>12345 Street Address Lorem Ipsum</p>
                                    <p>City Lorem Ipsum, ST #####</p>
                                    <p>Country Lorem Ipsum</p>
                                    <p class="giving-bbd__business-details-email"><a href="mailto:email@email.com">email@email.com</a></p>
                                    <p class="giving-bbd__business-details-phone">(XXX) XXX-XXXX</p>
                                </div>
                                <div class="giving-bbd__business-list__item-business-details-content__alumni">
                                    <p class="giving-bbd__business-details-label">Alumni Info</p>
                                    <p>firstname lastnnme, 'XX</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="giving-bbd__business-list__item-perks">
                    <p>Special/Perk Lorem Ipsum Dolor Sit Amet Consecteteur</p>
                </div>
            </div>
            <div class="giving-bbd__business-list__item">
                <div class="giving-bbd__business-list__item-business-info">
                    <p class="giving-bbd__business-list__item-business-title">
                        <a href="#">Business Name Lorem Ipsum Dolor Sit <span class="icon-arrow-right"></span></a>
                    </p>
                    <p class="giving-bbd__business-list__item-business-description">Industry Lorem Ipsum Dolor</p>
                    <div class="giving-bbd__business-list__item-business-details silc-accordion">
                        <section class="silc-accordion__section">
                            <header class="giving-bbd__business-list__item-business-details-trigger silc-accordion__header">
                                <p class="silc-accordion__label">More Details</p>
                            </header>
                            <div class="giving-bbd__business-list__item-business-details-content silc-accordion__content">
                                <div class="giving-bbd__business-list__item-business-details-content__contact">
                                    <p class="giving-bbd__business-details-label">Contact Info</p>
                                    <p>12345 Street Address Lorem Ipsum</p>
                                    <p>City Lorem Ipsum, ST #####</p>
                                    <p>Country Lorem Ipsum</p>
                                    <p class="giving-bbd__business-details-email"><a href="mailto:email@email.com">email@email.com</a></p>
                                    <p class="giving-bbd__business-details-phone">(XXX) XXX-XXXX</p>
                                </div>
                                <div class="giving-bbd__business-list__item-business-details-content__alumni">
                                    <p class="giving-bbd__business-details-label">Alumni Info</p>
                                    <p>firstname lastnnme, 'XX</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="giving-bbd__business-list__item-perks">
                    <p>Special/Perk Lorem Ipsum Dolor Sit Amet Consecteteur</p>
                </div>
            </div>
            <div class="giving-bbd__business-list__item">
                <div class="giving-bbd__business-list__item-business-info">
                    <p class="giving-bbd__business-list__item-business-title">
                        <a href="#">Business Name Lorem Ipsum Dolor Sit <span class="icon-arrow-right"></span></a>
                    </p>
                    <p class="giving-bbd__business-list__item-business-description">Industry Lorem Ipsum Dolor</p>
                    <div class="giving-bbd__business-list__item-business-details silc-accordion">
                        <section class="silc-accordion__section">
                            <header class="giving-bbd__business-list__item-business-details-trigger silc-accordion__header">
                                <p class="silc-accordion__label">More Details</p>
                            </header>
                            <div class="giving-bbd__business-list__item-business-details-content silc-accordion__content">
                                <div class="giving-bbd__business-list__item-business-details-content__contact">
                                    <p class="giving-bbd__business-details-label">Contact Info</p>
                                    <p>12345 Street Address Lorem Ipsum</p>
                                    <p>City Lorem Ipsum, ST #####</p>
                                    <p>Country Lorem Ipsum</p>
                                    <p class="giving-bbd__business-details-email"><a href="mailto:email@email.com">email@email.com</a></p>
                                    <p class="giving-bbd__business-details-phone">(XXX) XXX-XXXX</p>
                                </div>
                                <div class="giving-bbd__business-list__item-business-details-content__alumni">
                                    <p class="giving-bbd__business-details-label">Alumni Info</p>
                                    <p>firstname lastnnme, 'XX</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="giving-bbd__business-list__item-perks">
                    <p>Special/Perk Lorem Ipsum Dolor Sit Amet Consecteteur</p>
                </div>
            </div>
        </div>
    </div>
    <p class="giving-bbd__terms-of-use__title">Bison Business Directory Terms of Use</p>
    <p class="giving-bbd__terms-of-use__body">The use of this directory or the contact information contained within for solicitation purposes of any kind is strictly prohibited. Also, using the information contained within the directory for any unauthorized private, commercial, or political mailing is prohibited. Howard University and the Department of Alumni Relations do not endorse or make any other representations concerning any of the businesses registered on the directory.</p>
</div>

