

<div class="carousel" >
  <div class="carousel__cell" style="background-image: url('../../img/graduates_talking.jpg')">
  <a class="carousel__link lightbox" href="../../img/graduates_talking.jpg" data-lightbox="carousel"> <span class="visible-for-screen-readers">link</span></a></div>
  <div class="carousel__cell" style="background-image: url('../../img/graduates_talking.jpg')">
  <a class="carousel__link lightbox" href="../../img/graduates_talking.jpg" data-lightbox="carousel"> <span class="visible-for-screen-readers">link</span></a></div>
  <div class="carousel__cell" style="background-image: url('../../img/graduates_talking.jpg')">
  <a class="carousel__link lightbox" href="../../img/graduates_talking.jpg" data-lightbox="carousel"> <span class="visible-for-screen-readers">link</span></a></div>
  <div class="carousel__cell" style="background-image: url('../../img/graduates_talking.jpg')">
  <a class="carousel__link lightbox" href="../../img/graduates_talking.jpg" data-lightbox="carousel"> <span class="visible-for-screen-readers">link</span></a></div>
</div>


