

<div class="countdown" data-enddate="2024-07-24T13:00:00">
    <div class="countdown-container">
        <div class="countdown-sequence-container">
            <p class="countdown-sequence-title">Countdown Title Lorem Ipsum Dolor Sit Amen</p>
            <div class="countdown-sequence">
                <div class="countdown-sequence_days">
                    <p class="countdown-sequence-text"><span id="countdown-days">100</span></p>
                    <p class="countdown-sequence-label">Days</p>
                </div>
                <span class="time-sep">:</span>
                <div class="countdown-sequence_hours">
                    <p class="countdown-sequence-text"><span id="countdown-hours">23</span></p>
                    <p class="countdown-sequence-label">Hours</p>
                </div>
                <span class="time-sep">:</span>
                <div class="countdown-sequence_mins">
                    <p class="countdown-sequence-text"><span id="countdown-mins">59</span></p>
                    <p class="countdown-sequence-label">Mins</p>
                </div>
                <span class="time-sep">:</span>
                <div class="countdown-sequence_secs">
                    <p class="countdown-sequence-text"><span id="countdown-secs">59</span></p>
                    <p class="countdown-sequence-label">Secs</p>
                </div>
            </div>
            <p class="countdown-link"><a href="../../#.html">../../View Full Schedule Lorem.html</a></p>
        </div>
    </div>
</div>
