

<div class="news-and-events">

  <div class="silc-grid">
    <div class="silc-grid__col silc-grid__col--4-medium">
      <a href="#" class="news-and-events__block">
        <div class="news-and-events__desc">
          <span class="news-and-events__date">May 21, 2018</span>
          <span class="news-and-events__time">11:30 a.m. - 12:30 p.m.</span>
          <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>


        </div> </a>
    </div>
    <div class="silc-grid__col silc-grid__col--4-medium">
      <a href="#" class="news-and-events__block">
        <div class="news-and-events__desc">
          <span class="news-and-events__date">May 21, 2018</span>
          <span class="news-and-events__time">11:30 a.m. - 12:30 p.m.</span>
          <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>


        </div> </a></div>
    <div class="silc-grid__col silc-grid__col--4-medium">
      <a href="#" class="news-and-events__block">
        <div class="news-and-events__desc">
          <span class="news-and-events__date">May 21, 2018</span>
          <span class="news-and-events__time">11:30 a.m. - 12:30 p.m.</span>
          <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>


        </div> </a>
    </div>
  </div>
</div>

