

<footer class="main-footer" aria-label="Footer">
  <div class="main-footer__top">
    <div class="main-footer__contact">
      <a href="" class="main-footer__logo-link">
        <img src="../../img/site-logo-white.svg" alt=""> <span class="footer__title">College of Arts and Sciences</span></a>
      <address class="site__address"><strong class="main-footer__title">Howard COAS</strong><br>
        <span>4th and College Streets,&nbsp;NW.</span><br>
        <span>Washington, D.C. 20059</span><br>
        <span>Phone: 202-806-6100</span></address>
    </div>
    <div class="main-footer__nav">
      <div class="main-footer__social"><ul class="social-links">
  <li>
    <a class="social-links__item" href="">
      <i class="icon-facebook"><span class="visible-for-screen-readers">Facebook</span></i>
    </a>
  </li>
  <li>
    <a class="social-links__item" href="">
      <i class="icon-twitter"><span class="visible-for-screen-readers">Twitter</span></i>
    </a>
  </li>
  <li>
    <a class="social-links__item" href="">
      <i class="icon-instagram"><span class="visible-for-screen-readers">Instagram</span></i>
    </a>
  </li>

  <li>
    <a class="social-links__item" href="">
      <i class="icon-youtube"><span class="visible-for-screen-readers">Youtube</span></i>
    </a>
  </li>
</ul>
</div>
      <div class="main-footer__menu">
        <nav class="main-footer__main-nav" aria-label=" Main Footer Navigation">
          <ul>
            <li><a href="">Department Specific Page Link</a></li>
            <li><a href="">Another Link</a></li>
            <li><a href="">Department Specific Page Link</a></li>
          </ul>
        </nav>
      </div>


    </div>
  </div>
  <div class=" main-footer__bottom">
    <a href="" class="main-footer__bottom-logo">
      <img src="../../img/site-logo-white.svg" alt="Howard Logo COAS"></a>

    <div class="main-footer__copyright"> <span>© 2018 Howard University. All Rights Reserved.</span></div>

    <nav class="main-footer__bottom-nav" aria-label="Secondary Footer Navigation">
      <ul>
        <li><a href="#">Website Security and Privacy Policy</a></li>
        <li><a href="#">Legal Info</a></li>
      </ul>
    </nav>

  </div>
</footer>

