

<div class="full-width-image-banner" style="background-image:url('../../img/graduates_talking.jpg')">

  <div class="compartment">
    <div class="silc-grid silc-grid--collapse">
      <div class="silc-grid__col silc-grid__col--6-large">
        <h2>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</h2>
        
<a href="#" class="btn"> <span class="btn__text">Visit Campus</span>
<span class="icon-arrow-right"></span></a>


 
<a href="#" class="btn"> <span class="btn__text">Apply</span>
<span class="icon-arrow-right"></span></a>



      </div>
      <div class="silc-grid__col silc-grid__col--6-large"></div>
    </div>
  </div>
</div>
