

<div class="giving-feed giving-feed--featured">
  <div class="block-header block-header--">
    <div class="block-header__title"><span class=" block-header__icon icon-calendar"></span><h2>Giving Stories</h2>
    </div>
  
    <div class="block-header__btn"><a href="#" class="fancy-link fancy-link--light">
    <span>Link to Page</span>
    <span class="icon-arrow-right"></span>
  </a>
  </div>
  </div>
  <div class="silc-grid">
    <div class="silc-grid__col">
      <a href="#" class="giving-feed__block">
        <div class="giving-feed__img" style="background-image:url('../../img/Dancer_On_Stage.jpg')">
        </div>
        <div class="giving-feed__desc">
          <span class="giving-feed__tag">Young Alumni</span>
          <h3 class="giving-feed__title header--h3-small">Story of Support Title Lorem Ipsum Dolor</h3>
          <p class="giving-feed__copy">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
          <button class="btn"><span class="btn__text">Read More</span> <span class="icon-arrow-right"></span></button>
        </div>
      </a>
    </div>
  </div>
</div>

