

<header class="main-header mobile-nav" aria-label="main-header">
  <div class="main-header__top">
    <div class="main-header__logo">
      <a href="" class="main-header__logo-link">
        <img src="../../img/howard-logo.png" alt=""> <h1>College of Arts and Sciences</h1></a>

    </div>
    <div class="main-header__utility"><div class="utility">
  <div class="utility__menu">
    <nav id="" >
      <ul class="menu">
        <li class="">
          <a href="">News</a>
        </li>
        <li class="">
          <a href="">Events</a>
        </li>
        <li class="">
          <a href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="utility__search">

    <form action="" class="utility__search-form" id="mainSearch">
      <label for="mainSearchInput" class="visible-for-screen-readers">Search this Site</label>
      <input type="text" class="utility__search-input" name="mainSearchInput" id="mainSearchInput" placeholder="Search...">
      <button type="submit" for="utility__search-form" class="utility__search-submit">
         go

      </button>
    </form>
    <button aria-hidden="true" class="utility__search-trigger">
<span class="visible-for-screen-readers">Search</span>
    </button>
  </div>

</div>
</div>
  </div>
  <div class="main-header__bottom">
    <h2 class="main-header__dept">Department of English</h2>
    <div class="main-header__drawer">
      <div class="main-header__nav"><nav class="silc-nav main-nav" aria-label="main-menu">
  <ul>
    <li class="silc-nav__item--home"><a href="#">Home</a></li>
    <li>
      <a href="#">About</a>
      <ul>
        <li>
          <a href="">Am I Eligible</a>
        </li>
        <li>
          <a href="">Apply Now</a>
        </li>
        <li>
          <a href="">Check Application Status</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#academics">Academics</a>

    </li>
    <li>
      <a href="#people">People</a>
    </li>
    <li>
      <a href="#">Department Specific Section</a>
    </li>
    <li>
      <a href="">Another Section</a>
    </li>
    <li>
      <a href="">Another Longer Section</a>
    </li>
  </ul>
</nav>
</div>
      <div class="main-header__utility main-header__utility--mobile"><div class="utility">
  <div class="utility__menu">
    <nav id="" >
      <ul class="menu">
        <li class="">
          <a href="">News</a>
        </li>
        <li class="">
          <a href="">Events</a>
        </li>
        <li class="">
          <a href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="utility__search">

    <form action="" class="utility__search-form" id="mainSearch">
      <label for="mainSearchInput" class="visible-for-screen-readers">Search this Site</label>
      <input type="text" class="utility__search-input" name="mainSearchInput" id="mainSearchInput" placeholder="Search...">
      <button type="submit" for="utility__search-form" class="utility__search-submit">
         go

      </button>
    </form>
    <button aria-hidden="true" class="utility__search-trigger">
<span class="visible-for-screen-readers">Search</span>
    </button>
  </div>

</div>
</div>
    </div>
    <div class="main-header__trigger-menu">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>




</header>
<a href="#content" class="skip-link">Skip to content</a>

