

<div class="promotional-space">
  <div class="silc-grid">
    <div class="silc-grid__col silc-grid__col--6-medium">
      <h2 class="promotional-space__title header--h2">Promotional Space Title</h2>
      <p>Sed sed ultricies arcu. Sed sit amet aliquet quam, sit amet lobortis turpis. Curabitur fringilla eget urna sit amet
        cursus. Duis dapibus ante ac ex interdum, eget fermentum eros bibendum.</p>
     <a href="#" class="fancy-link">
       <span>Internship Opportunities</span>
       <span class="icon-arrow-right"></span>
     </a>
     <a href="#" class="fancy-link">
       <span>Study Abroad</span>
       <span class="icon-arrow-right"></span>
     </a>
     <a href="#" class="fancy-link">
       <span>Link/Resource Title</span>
       <span class="icon-arrow-right"></span>
     </a>
    </div>
    <div class="silc-grid__col silc-grid__col--6-medium">
      <div class="section-content__img" style="background-image:url('../../img/students-walking.jpg')"></div>
    </div>
  </div>
</div>
