

<div class="views-element-container resources-feed">
	<div class="js-view-dom-id-4bd870375fb6b6687fea3a1fcdee099579eb800cc8a38ee5ddd81abc9cfd6a38">
		<form class="views-exposed-form" data-drupal-selector="views-exposed-form-hc-resources-feed-block-1" action="/resources" method="get" id="views-exposed-form-hc-resources-feed-block-1" accept-charset="UTF-8">
			<div class="js-form-item form-item js-form-type-textfield form-item-search js-form-item-search">
				<label for="edit-search">Keyword</label>
				<input data-drupal-selector="edit-search" type="text" id="edit-search" name="search" value="" size="30" maxlength="128" class="form-text">
			</div>
			<div class="js-form-item form-item js-form-type-select form-item-topic js-form-item-topic">
				<label for="edit-topic">Topic</label>
				<select data-drupal-selector="edit-topic" id="edit-topic" name="topic" class="form-select">
					<option value="All" selected="selected">- Any -</option>
					<option value="121">Alumni Resources</option>
					<option value="126">Faculty &amp; Staff Resources</option>
					<option value="116">Student Resources</option>
				</select>
			</div>
			<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit-hc-resources-feed" type="submit" id="edit-submit-hc-resources-feed" value="Apply" class="button js-form-submit form-submit"></div>
		</form>
		<table class="cols-0">
			<tbody>
				<tr>
					<td class="views-field views-field-title is-active"><a href="/resources/example-resource" hreflang="en">An Example resource</a>          </td>
					<td class="views-field views-field-field-hc-resource-category">Alumni Resources          </td>
				</tr>
				<tr>
					<td class="views-field views-field-title is-active"><a href="/resources/another-example-resource" hreflang="en">Another Example resource</a>          </td>
					<td class="views-field views-field-field-hc-resource-category">Faculty &amp; Staff Resources          </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
