

<div class="announcements">

  <div class="silc-grid">

    <div class="silc-grid__col silc-grid__col--4-medium">
      <div class="announcements__block">
        <h3 class="announcements__title">Featured Announcement Vivamus Elementum Semper Nisi Varius </h3>

        <p>Proin finibus nibh orci, eu lobortis tortor pulvinar vel.Mauris feugiat pellentesque orci non varius. Aliquam
          sed facilisis lacus. In massa nulla, mollis sit amet elit id.</p>   <a href="#" class="fancy-link">
  <span>Learn More</span>
  <span class="icon-arrow-right"></span>
</a>

      </div>
    </div>
    <div class="silc-grid__col silc-grid__col--4-medium">
      <div class="announcements__block">
        <h3 class="announcements__title">Featured Announcement Vivamus Elementum Semper Nisi Varius </h3>

        <p>Proin finibus nibh orci, eu lobortis tortor pulvinar vel.Mauris feugiat pellentesque orci non varius. Aliquam
          sed facilisis lacus. In massa nulla, mollis sit amet elit id.</p>
          <a href="#" class="fancy-link">
            <span>Learn More</span>
            <span class="icon-arrow-right"></span>
          </a>
      </div>
    </div>
    <div class="silc-grid__col silc-grid__col--4-medium">
      <div class="announcements__block">
        <h3 class="announcements__title">Featured Announcement Vivamus Elementum Semper Nisi Varius </h3>

        <p>Proin finibus nibh orci, eu lobortis tortor pulvinar vel.Mauris feugiat pellentesque orci non varius. Aliquam
          sed facilisis lacus. In massa nulla, mollis sit amet elit id.</p>   <a href="#" class="fancy-link">
  <span>Learn More</span>
  <span class="icon-arrow-right"></span>
</a>

      </div>
    </div>
  </div>
</div>

