

<div class="utility">
  <div class="utility__menu">

	<nav role="navigation" aria-labelledby="block-secondarynavigation-menu" id="block-secondarynavigation">

  <h2 id="block-secondarynavigation-menu">Secondary Navigation</h2>



              <ul block="secondarynavigation">
              <li>
        <a href="https://calendar.howard.edu">Events</a>
              </li>
          <li>
        <a href="https://newsroom.howard.edu">News</a>
              </li>
        </ul>



  </nav>


  </div>
  <div class="utility__search">
    <form action="/search/node" class="utility__search-form main-search" id="mainSearch" method="get">
      <label for="keyword" class="visible-for-screen-readers">Search this Site</label>
      <input type="text" class="utility__search-input" id="keyword" placeholder="Search...">
      <button type="submit" class="utility__search-submit">go</button>
    </form>
    <button aria-hidden="true" class="utility__search-trigger"><span class="visually-hidden">Trigger Search</span></button>
  </div>
</div>

