<table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack">
    <thead>
        <tr>
            <th>Column Heading 1</th>
            <th>Column Heading 2</th>
            <th>Column Heading 3</th>
            <th>Column Heading 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
        </tr>
        <tr>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
        </tr>
        <tr>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
        </tr>
        <tr>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
            <td>Quisque rutrum. Aenean imperdiet. Etiam ultricies.</td>
        </tr>
    </tbody>
</table>
