
.breadcrumb {
    padding: 0 0 rem(7);
    &__items {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        color: $mblue;
        @extend %sans-regular;
    }
    &__item {
        display: flex;
        align-items: center;
        font-size: rem(12);
        line-height: rem(22);
        @include media('medium') {
            font-size: rem(13);
            line-height: rem(18);
        }
        a {
            color: $gray3;
            transition: color ease .3s;
        }
        &:nth-last-child(2) {
            .breadcrumb__back-to-parent {
                @include media('medium') {
                    display: none;
                }
            }
            &::before {
                content: "\e901";
                @include icon();
                display: inline-block;
                color: $lightblue;
                font-size: rem(12);
                margin: 0 rem(5) 0 rem(-3);
                transform: scale(-1);
                @include media('medium') {
                    display: none;
                }
            }
            &::after {
                display: none;
                @include media('medium') {
                    display: inline;
                }
            }
        }
        &:not(:nth-last-child(2)) {
            display: none;
            @include media('medium') {
                display: flex;
            }
        }
        &:last-of-type {
            &::after {
                content: "";
            }
        }
        // &:not(:last-child):hover {
        //     padding: 0 rem(3) 0 rem(6);
        //     &::after {
        //         padding: 0 0 0 rem(3);
        //     }
        // }
        &::after {
            content: "\e901";
            @include icon();
            color: $lightblue;
            margin: 0 rem(5);
        }
        &--active {
            @extend %sans-bold;
            a {
                color: $mblue
            }
        }
        &:hover {
            a {
                color: $lightblue
            }
        }
    }
}