<nav class="silc-nav main-nav" aria-label="main-menu">
  <ul>
    <li class="silc-nav__item--home"><a href="#">Home</a></li>
    <li>
      <a href="#">About</a>
      <ul>
        <li>
          <a href="">Am I Eligible</a>
        </li>
        <li>
          <a href="">Apply Now</a>
        </li>
        <li>
          <a href="">Check Application Status</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#academics">Academics</a>

    </li>
    <li>
      <a href="#people">People</a>
    </li>
    <li>
      <a href="#">Department Specific Section</a>
    </li>
    <li>
      <a href="">Another Section</a>
    </li>
    <li>
      <a href="">Another Longer Section</a>
    </li>
  </ul>
</nav>
