.main-nav {

  nav {
    width: 100%;
  }

  @include media("medium") {
    overflow: visible;
  }

  .silc-nav {
    &__move {
      display: none;
    }

    height: 100%;

    &__items {
      height: 100%;
    }

    &__item {
      height: 100%;
      display: flex;
      align-items: center;
      padding: rem(20) rem(30);
      transition: background .15s ease-in-out;

      &:hover,
      &:focus {
        cursor: pointer;
        background: $yellow;

        a {
          color: $black;
          text-decoration: none;

          &:hover,
          &:focus {
            cursor: pointer;
          }
        }
      }

      @include media("small") {
        padding: rem(33) rem(30);
      }

      @include media("large") {
        padding: rem(20);
      }

      &--home {
        @extend %sans-bold;

        font-size: rem(22) !important;
        text-transform: uppercase;
        letter-spacing: 0;
        padding-left: rem(73) !important;
        position: relative;

        &::before {
          content: "\e923";
          color: $white;
          position: absolute;

          @include icon;

          left: rem(30);
          font-size: rem(24);
          top: 1.15rem;

          @include media("small") {
            top: rem(30);
          }
        }

        @include media("large") {
          display: none;
        }
      }
    }

    &__move--back {
      display: none;
    }

    &__link {
      @extend %sans-bold;

      font-size: rem(14);
      color: $white;
      letter-spacing: 0;
      transition: color .15s ease-in-out;

      @include media("large") {
        letter-spacing: 0;
      }
    }
  }

  /*  Subnav Items */
  .silc-nav__items {
    .silc-nav__items {
      background: $white;
      z-index: 1000;
      list-style-image: url(data:0);

      @include media("medium") {
        box-shadow: 0 rem(2) rem(4) 0 rgba(0, 0, 0, 0.5);
        top: 100%;
        height: auto;
        padding-top: rem(20);
      }

      .silc-nav__item {
        &:first-of-type {
          display: none;
        }

        padding: 0;

        &:hover,
        &:focus {
          background: transparent;

          a {
            color: $lightblue;
          }
        }
      }

      .silc-nav__link {
        color: $navy;
        letter-spacing: 0;

        @extend %sans-bold;

        padding: 0 rem(20) rem(20) rem(20);
      }
    }
  }

  a.silc-nav__link {
    &:hover {
      text-decoration: none;
    }
  }

  .silc-nav__item .silc-nav__link:focus+.silc-nav__items {
    display: block
  }

  .silc-nav__item:focus-within {
    display: block;

    .silc-nav__items {
      display: block
    }
  }

  .silc-nav__items .silc-nav__item:focus-within {
    display: block
  }
}

.main-header__nav {
  nav {
    display: flex;
    align-items: center;
    height: 100% !important;

    ul {
      list-style-type: none;

      li {
        position: relative;

        @include media("large") {
          display: flex;
          align-items: center;
          float: left;
        }

        &.active {
          a {
            background-color: $lightblue;
            @include media("large") {
              background-color: transparent;
            }
            &:hover {
              background-color: $red;
            }
          }
        }

        &:hover,
        &:focus,
        &:focus-within {
          cursor: pointer;

          a {
            text-decoration: none;
            @include media("large") {
              color: $navy;
            }
          }

          ul {
            @include media('large') {
              display: block;
              visibility: visible;
              opacity: 1;
            }

            li {
              width: 100%;

              &:hover,
              &:focus,
              &:focus-within {
                cursor: pointer;
                background: transparent;

                a {
                  text-decoration: none;
                  @include media("large") {
                    background-color: transparent;
                    color: $lightblue;
                  }
                }
              }
            }

            
          }

        }

        ul {
          li {
            &:not(:first-of-type) {
              a {
                @include media("large") {
                  padding-top: 0;
                }
              }
            }

            &:hover {
              a {
                color: $lightblue;
              }
            }

            a {
              padding: rem(20);
            }
          }
        }

        &--home {
          @extend %sans-bold;

          font-size: rem(22) !important;
          text-transform: uppercase;
          letter-spacing: 0;
          padding-left: rem(73) !important;
          position: relative;

          &::before {
            content: "\e923";
            color: $white;
            position: absolute;

            @include icon;

            left: rem(30);
            font-size: rem(24);
            top: 1.15rem;

            @include media("small") {
              top: rem(30);
            }
          }

          @include media("large") {
            display: none;
          }
        }

        a {
          @extend %sans-bold;
          padding: rem(20) rem(30);
          font-size: rem(14);
          color: $white;
          letter-spacing: 0;
          display: block;
          position: relative;
          transition: color .15s ease-in-out, background .15s ease-in-out;

          @include media("large") {
            letter-spacing: 0;
            padding: rem(22);
          }
        }

        ul {
          padding: 0;
          margin: 0;
          border: 0;
          list-style: none;
          overflow: hidden;
          .js & {
            height: 0;
            transition: .3s height ease-in-out;
            @include media("large") {
              height: auto;
            }
          }
          @include media("large") {
            position: absolute;
            left: 0;
            width: 200px;
            box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
            top: calc(100% - 1px);
            z-index: 1000;
            background: $white;
            transition: opacity .15s ease, visibility .15s ease;
            visibility: hidden;
            opacity: 0;
          }
          ul {
            @include media("large") {
              display: none !important;
            }
          }
        }
      }
    }
    > ul {
      > li {
        &:hover,
        &:focus,
        &:focus-within {
          > a,
          > .nav__lists__container > a {
            @include media("large") {
              background: $yellow;
              color: $darkgray;
            }
          }
        }
      }
    }
  }
}

.nav__lists__container {
  position: relative;
}

.nav__lists__trigger {
  background-color: transparent;
  border: 0;
  border-left: 1px solid rgba(0, 0, 0, .3);
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
  width: rem(75);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  transition: background-color .3s;

  @include media("large") {
    display: none;
  }

  &:hover {
    background: $yellow;
    &:after {
      border-color: $navy;
    }
  }

  li.active & {
    background-color: $lightblue;
    &:hover {
      background-color: $yellow;
    }
    &:after {
      transform: translateX(-50%) translateY(-50%) rotate(-135deg);
      top: 60%;
    }
  }

  &:after {
    content: "";
    width: rem(19);
    height: rem(19);
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    transition: transform .3s, top .3s, border-color .3s;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.nav-toggled {
  .main-header__nav {

    .nav__lists__trigger {
      background-color: $navy !important;
      &:hover {
        background-color: $yellow !important;
      }
    }

    ul {
      width: 100%;

      li {
        border-top: rem(1) solid $black;
        float: none;

        &:last-of-type {
          border-bottom: rem(1) solid $black
        }

        &:hover {
          > a, > .nav__lists__container a {
            background-color: $red;
          }
          a {
            color: $white !important;
            
          }
        }

        > a,
        > .nav__lists__container > a {
          font-weight: 700;
        }

        a {
          font-size: rem(17) !important;
          width: 100%;
          @extend %sans-regular;
          @include media('medium') {
            font-size: rem(21) !important;
          }
        }

        li {
          border-top: 0.0625rem solid #25568d;
          a {
            @extend %serif-regular;
            font-size: rem(16) !important;
            padding: rem(20) rem(20) rem(16) rem(33);
          }
        }
      }
    }
  }

}
