
/**Stylesheet***/
/*Right aligns text fields used in Parallax Bundle***/
/*Left aligns text fields used in Parallax Bundle***/
/** Adjusts the width of the  Parallax Bundle's Image Field***/
/** Creates Parallax effect for the Parallax Bundle's image field***/
/** Removes Parallax effect for the Parallax Bundle's
image field when viewed on devices with a screen size of 767px and below
***/
.hp_parallax_bundle {
	height: 100vh;
	max-height: 600px;
	position: relative;
	.float_right {
		float: none !important;
	}
	.float_left {
		float: none !important;
	}
	.featurettes_image {
		width: 100%;
		height:100%;
		position: relative;
		.background-image {
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: initial;
            height: 100vh;
            max-height: 600px;
            padding-bottom: 0 !important;
		}
	}
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: $navy;
		z-index: 3;
		opacity: .5;
	}
	.featurettes_text {
		width: 100%;
    	position: absolute;
    	color: $white;
    	text-align: center;
    	z-index: 9;
    	top: 50%;
    	left: 50%;
		transform: translate(-50%,-50%);
		.lead-in{
			color:$white;
		}
	}
}
@include media('medium'){
.hp_parallax_bundle {
	.float_right {
		float: right !important;
	}
	.float_left {
		float: left !important;
	}
	.featurettes_image {
		width: 65%;
		height: 100%;
		position: relative;
		z-index: 4;
		.background-image {
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			height: 100%;
		}
	}
	&:before {
		content: inherit;
		background: transparent;
	}
	.featurette {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		padding: 0px 25px;
	}
	.featurettes_text {
		width: 35%;
		height: 100%;
		position: relative;
		z-index: 4;
		color: inherit;
		transform: none;
		left: 0;
		top: 0;
		.lead-in{
			color:$navy !important;
		}
	}
}
}
