.silc-accordion {
  .section-content__img {
    max-height: rem(228)
  }

  &__header {
    background: $white
  }

  &__label {
    padding: rem(20) rem(20) rem(20) rem(50);
    @extend %sans-extra-bold;
    font-size: rem(14);
    letter-spacing: rem(-0.27);
    line-height: .9;
    position: relative;
    transition: color .3s ease-in-out, border-color ease .3s;
    border-top: rem(5) solid transparent;

    @include media('medium') {
      font-size: rem(18);
    }

    &:before {
      @include icon();
      content: "\e90e";
      position: absolute;
      display: inline-block;
      left: rem(20);
      top: rem(20);
      font-size: rem(15);
      color: $mblue;
      transition: color ease .3s;
    }

    &:hover {
      color: $lightblue;

      &:before {
        color: $lightblue
      }
    }

    &--active {
      border-color: $red;

      &:before {
        content: "\e90f";
        transform: rotate(180deg)
      }
    }
  }

  &__section {
    margin: rem(20) 0
  }

  &__content {
    padding: rem(15);
    background: $white;

    @extend %sans-regular;

    color: $charcoal;
    letter-spacing: 0;

    @include media('medium') {
      font-size: rem(16);
      line-height: rem(23);
      padding: rem(30);
    }

    ul {
      @extend %body-text--list;
    }
  }

  // .silc-grid {
  //     margin-left: rem(-35);
  // }
  // .silc-grid__col {
  //     padding-left: rem(35);
  //     margin-bottom: rem(35);
  // }
  .sidebar-img {
    width: 100%;
    float: none;
    margin: rem(10) 0;

    @include media('medium') {
      margin: 0 0 rem(30) 0;
      max-width: rem(400);

      &--right {
        float: right;
        margin-left: rem(30);
      }

      &--left {
        float: left;
        margin-right: rem(30);
      }

      &__img {
        width: 100%;
      }
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &__img {
      width: calc(100% - 30px);
    }
  }
}

.js {
  .silc-accordion--become-tabs.silc-accordion {
    .silc-accordion {
      &__nav {}

      &__nav-item {}

      &__nav-link {
        border-top: transparent solid rem(5);
        display: inline-block;
        padding: rem(15);
        @extend %sans-extra-bold;
        font-size: rem(18);
        color: $skyblue;
        text-decoration: none;
        background: transparent;
        transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;

        &--active {
          border-color: $red;
          background: $white;
          color: $mblue;
        }

        &:hover {
          background: $white;
          color: $mblue;
        }
      }

      &__section {
        @include media('medium') {
          margin: 0;
        }
      }
    }
  }
}

.js {
  .silc-accordion--become-tabs.silc-accordion {
    .silc-accordion {
      &__nav {}

      &__label {
        border-left: transparent solid rem(3);
        border-top: 0;
        padding: rem(15);
        transition: border .1s ease-in-out;

        &--active {
          border-top: 0;
          border-color: $red;
        }

        &::before {
          display: none
        }

        @include media('medium') {
          border-left: 0;
        }
      }

      &__nav-item {}

      &__nav-link {
        border-left: transparent solid rem(3);
        display: inline-block;
        padding: rem(15);
        @extend %sans-extra-bold;
        font-size: rem(18);
        color: $skyblue;
        text-decoration: none;
        background: transparent;
        transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;

        @include media('medium') {
          border-top: transparent solid rem(5);
          border-left: 0;
        }

        &--active {
          border-color: $red;
          background: $white;
          color: $mblue;
        }

        &:hover {
          background: $white;
          color: $mblue;
        }
      }

      &__content {
        border-left: transparent solid rem(3);
        transition: border .3s ease-in-out;

        &--visible {
          border-color: $red;
        }

        @include media('medium') {
          border-left: 0;
        }

        &:after {
          content: ".";
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0;
        }
      }
      &__section {
        @include media('medium') {
          margin: 0;
        }
      }
    }
  }
}
