<div class="silc-accordion silc-accordion--red">
    {{#each sections}}
    <section class="silc-accordion__section">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">{{title}}</h2>
        </header>
        <div class="silc-accordion__content">{{{content}}}</div>
    </section>
    {{/each}}
</div>
