.news-and-events {
  max-width: 700px;
  margin: 0 auto;

  @include media('medium') {
    max-width: 100%;
  }

  &__block {
    align-items: flex-start;
    background: $white;
    border-radius: rem(4);
    display: flex;
    height: 100%;
    padding: rem(15);
    text-decoration: none;

    @include media('medium') {
      display: block;
      padding: 0;
    }

    .ks-cards & {
      display: block;
      padding: 0;

      @include media('small') {
        display: flex;
        padding: rem(15);
      }

      @include media('medium') {
        display: block;
        padding: 0;
      }
    }
  }

  &__img {
    @extend %image-bck;
    margin-right: rem(15);
    width: 25%;

    @include media('small') {
      width: rem(140);
    }

    @include media('medium') {
      margin-right: 0;
      width: 100%;
    }

    &:before {
      content: "";
      display: block;
      padding-top: 125%;
    }

    .ks-cards & {
      margin-right: 0;
      max-height: rem(176);
      width: 100%;

      @include media('small') {
        margin-right: rem(15);
        width: rem(192);
      }

      @include media('medium') {
        margin-right: 0;
        width: 100%;
      }

      &:before {
        padding-top: 56.25%;
      }
    }
  }

  &__desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex: 1 1 0px;
    padding: 0;

    @include media('medium') {
      padding: rem(15);
    }

    &--featured {
      background: $white;
      height: 100%;
    }

    p {
      color: $charcoal
    }

    .ks-cards & {
      padding: rem(15);

      @include media('small') {
        padding: 0;
      }

      @include media('medium') {
        padding: rem(15);
      }
    }
  }

  &__main {
    background: $white;

    @include media('medium') {
      background: transparent;
      height: calc(100% - 57px);
      padding: rem(30) rem(20);
    }
  }

  &__title {
    @extend %serif-regular;
    width: 100%;
    font-size: 1.3rem;
    color: $navy;
    margin-top: rem(15);
    margin-bottom: rem(10);
    transition: .3s color ease-in-out;
  }

  p {
    color: $charcoal
  }

  &__date {
    @extend %sans-extra-bold;
    display: block;
    font-size: rem(12);
    line-height: rem(16);
    color: $skyblue;
    text-transform: uppercase;
    letter-spacing: rem(1.8);
    margin-bottom: rem(3);
    transition: .3s color ease-in-out;

    &--featured {
      padding: rem(20) rem(15);

      @include media('medium') {
        padding: rem(30) rem(20)
      }
    }

    @include media('medium') {
      font-size: rem(14);
      line-height: rem(18);
      margin-bottom: rem(5);
    }
  }

  &__time {
    @extend %sans-regular;
    color: $skyblue;
    display: block;
    margin-bottom: rem(5);
    font-size: rem(12);
    line-height: rem(16);
    transition: .3s color ease-in-out;
    width: 100%;

    @include media('medium') {
      font-size: rem(14);
      line-height: rem(18);
    }
  }

  // Buttons
  .btn {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    @include media('medium') {
      background: $yellow;
      display: block;

      .btn {
        margin: 0;
      }
    }
  }

  // 3 with one featured overrides
  &__block.news-and-events__block_feat_3up {
    border-radius: rem(4);
    overflow: hidden;

    @include media('medium') {
      padding: rem(15);
    }

    .news-and-events__img {
      width: 40%;

      @include media('medium') {
        height: rem(320);
        width: rem(265);
        display: block;
        float: left;
        margin: 0 rem(15) 0 0;
      }
    }

    .news-and-events__desc {
      @include media('medium') {
        padding: 0;
      }
    }
  }

  // 4 with one featured overrides
  &--department {
    
      .news-and-events__block_feat_4up {
        @include media('medium') {
          color: white;
          border-radius: rem(4);
          padding: 0;
          position: relative;
        }

        .header--h3-large {
          @include media('medium') {
            color: $white;
          }
        }

        .news-and-events__main {
          @include media('medium') {
            padding: rem(15) rem(15);
            height: calc(100% - 59px);
            padding: rem(15) rem(20);
          }
        }

        p {
          @include media('medium') {
            color: $white;
            text-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.50);
          }
        }

        h3 {
          @extend %serif-bold;
          @include media('medium') {
            text-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.50);
            color: $white;
            font-size: rem(32);
            line-height: rem(38);
          }
        }

        .news-and-events__desc {
          @include media('medium') {
            position: absolute;
            background: transparent;
            bottom: 0;
            padding: 0;
          }
        }

        .news-and-events__img {
          @include media('medium') {
            position: relative;
            overflow: hidden;
            min-height: rem(540);
            height: 100%;
          }

          &:after {
            @include media('medium') {
              content: '';
              position: absolute;
              height: 100%;
              width: 100%;
              background-image: linear-gradient(-180deg,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.8) 100%);
            }
          }
        }

        .news-and-events__btn {
          @include media('medium') {
            width: 100%;
          }

          a {
            @include media('medium') {
              justify-content: flex-start;
              text-align: left;
            }
          }
        }

        .news-and-events__date {
          @include media('medium') {
            color: $white;
            margin-bottom: rem(20);
            text-shadow: 0 0 1.5rem rgba(0,0,0,0.8);
          }
        }
      }

      .news-and-events__block:not(.news-and-events__block_feat_4up) {
        background: transparent;
        border-bottom: rem(1) solid $yellow;
        border-bottom-left-radius: 0;
        height: auto;
        min-height: rem(121);
        border-bottom-right-radius: 0;
        
        &:hover {
          background: #EDC054;
          border-bottom-left-radius: rem(4);
          border-bottom-right-radius: rem(4);
        }
      }
    }
  
}

/* Styles for .news-and-events__block when element is an anchor instead of a div */
a.news-and-events__block {
  transition: background .3s ease-in-out;

  &:hover,
  &:focus {
    background: $yellow;
    cursor: pointer;
    text-decoration: none;

    span {
      color: $darkgray
    }

    .news-and-events__title {
      color: $darkgray
    }
  }
}
