.news-and-events {
  max-width: 700px;
  margin: 0 auto;
  @include media('medium') {
    max-width: 100%;
  }
  &__img {
    min-height: rem(176);
    width: 100%;
    @extend %image-bck;

    @include media('small') {
      width: 40%
    }

    @include media('medium') {
      width: 100%;
      display: block;
    }
  }

  &__desc {
    padding: rem(15) rem(15) rem(5) rem(15);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    @include media('small') {
      flex: 1
    }

    &--featured {
      background: $white;
      height: 100%;
    }

    @include media('medium') {
      padding: rem(15) rem(20) rem(14) rem(20);
    }
  }

  &__main {
    padding: rem(30) rem(15);
    height: calc(100% - 57px);

    @include media('medium') {
      padding: rem(30) rem(20);
    }
  }

  &__title {
    @extend %serif-regular;
    width: 100%;
    font-size: 1.3rem;
    color: $navy;
    margin-top: rem(15);
    margin-bottom: rem(10);
  }

  p {
    color: $charcoal
  }

  &__block {
    height: 100%;
    display: block;
    background: $white;
    border-radius: rem(4);
    text-decoration: none;
    transition: background .3s ease-in-out;

    &:hover,
    &:focus {
      background: $yellow;
      text-decoration: none;

      span {
        color: $darkgray
      }

      .news-and-events__title {
        color: $darkgray
      }
    }

    @include media('small') {
      display: flex;
    }

    @include media('medium') {
      display: block;
    }
  }

  &__date {
    @extend %sans-extra-bold;
    display: block;
    font-size: rem(12);
    line-height: rem(16);
    color: $skyblue;
    text-transform: uppercase;
    letter-spacing: rem(1.8);
    margin-bottom: rem(3);

    &--featured {
      padding: rem(20) rem(15);

      @include media('medium') {
        padding: rem(30) rem(20)
      }
    }

    @include media('medium') {
      font-size: rem(14);
      line-height: rem(18);
      margin-bottom: rem(5);
    }
  }

  &__time {
    @extend %sans-regular;
    color: $skyblue;
    display: block;
    margin-bottom: rem(5);
    font-size: rem(12);
    line-height: rem(16);

    @include media('medium') {
      font-size: rem(14);
      line-height: rem(18);
    }
  }

  &--featured {
    .news-and-events__img {
      min-height: rem(180);
      width: 100%;

      @include media('medium') {
        min-height: rem(375);
        display: block;
        height: 100%;
      }
    }

    .news-and-events__date {
      margin-bottom: rem(10);

      @include media('medium') {
        margin-bottom: rem(5);
      }
    }
  }

  &__btn {
    background: $yellow;
    display: block;
    padding: rem(3);
    text-align: center;

    a {
      text-align: center;
      justify-content: center;
    }
  }

  &--department {
    .news-and-events {
      &--featured {
        color: white;
        border-radius: rem(4);
        position: relative;

        .header--h3-large {
          color: $white;
        }

        .news-and-events__main {
          padding: rem(15) rem(15);
          height: calc(100% - 59px);

          @include media('medium') {
            padding: rem(15) rem(20);
          }
        }

        p {
          color: $white;
          text-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.50);
        }

        h3 {
          text-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.50);
          color: $white;
          font-size: rem(20);
          line-height: rem(27);
          @extend %serif-bold;

          @include media('medium') {
            font-size: rem(32);
            line-height: rem(38);
          }
        }

        .news-and-events__desc {
          position: absolute;
          background: transparent;
          bottom: 0;
          padding: 0;
        }

        .news-and-events__img {
          min-height: rem(340);
          border-radius: rem(4);
          position: relative;
          overflow: hidden;

          @include media('medium') {
            min-height: rem(540)
          }

          &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(-180deg,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.8) 100%);
          }
        }

        .news-and-events__btn {
          border-bottom-left-radius: rem(4);
          border-bottom-right-radius: rem(4);
          padding-left: rem(30);

          a {
            justify-content: flex-start;
            text-align: left;
          }
        }

        .news-and-events__date {
          color: $white;
          margin-bottom: rem(20);
          text-shadow: 0 0 1.5rem rgba(0,0,0,0.8);
        }
      }

      &__block {
        background: transparent;
        border-bottom: rem(1) solid $yellow;
        border-bottom-left-radius: 0;
        height: auto;
        min-height: rem(121);
        border-bottom-right-radius: 0;

        &:hover {
          background: #EDC054;
          border-bottom-left-radius: rem(4);
          border-bottom-right-radius: rem(4);
        }
      }
    }
  }
}
