<div class="giving-feed giving-feed--featured">
  {{>@block-header}}
  <div class="silc-grid">
    <div class="silc-grid__col silc-grid__col--4-medium">
      <a href="#" class="giving-feed__block">
        <div class="giving-feed__img" style="background-image:url('{{path '/img/Dancer_On_Stage.jpg'}}')">
        </div>
        <div class="giving-feed__desc">
          <span class="giving-feed__tag">Young Alumni</span>
          <h3 class="giving-feed__title header--h3-small">Story of Support Title Lorem Ipsum Dolor</h3>
        </div>
      </a>
    </div>
  </div>
</div>
