<div class="full-width-cta">
    <div class="background" style="background-image:url('{{path '/img/students-walking.jpg'}}')"></div>
    <div class="compartment">
        <h2>Take Your Next Step</h2>
        {{>@button btnText="Visit Campus"}} {{>@button btnText="Apply"}}
    </div>
</div>