<ul class="social-links">
  <li>
    <a class="social-links__item" href="">
      <i class="icon-facebook"><span class="visible-for-screen-readers">Facebook</span></i>
    </a>
  </li>
  <li>
    <a class="social-links__item" href="">
      <i class="icon-twitter"><span class="visible-for-screen-readers">Twitter</span></i>
    </a>
  </li>
  <li>
    <a class="social-links__item" href="">
      <i class="icon-instagram"><span class="visible-for-screen-readers">Instagram</span></i>
    </a>
  </li>

  <li>
    <a class="social-links__item" href="">
      <i class="icon-youtube"><span class="visible-for-screen-readers">Youtube</span></i>
    </a>
  </li>
</ul>
