.hc-article--featured-image {
    max-width: 100%;
    margin-bottom: 20px;
    @include media('medium') {
        float: left;
        max-width: 50%;
        margin-right: 20px;
    }
    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

.hc-article--categories {
    padding-bottom: 20px;
}

.pnf--primary {
    > nav > ul {
        -webkit-column-count:3;
        -moz-column-count: 3;
        column-count: 3;
        font-weight: bold;
        li {
            list-style-type: none;
            a {

            }
            > ul {
                display: none;
            }
        }
    }
}

