.promotional-space {
    @extend %callout;
    border-top: $red solid rem(5);
    @include media('medium') {
        border-top: $red solid rem(10);
    }
    h2 {
        @extend %callout-title;
    }
    .body-text--list{
        padding: 0 0 0 40px !important;
        list-style: initial !important;
    }
}
