<div class="facebook-twitter-feed">
  <div class="compartment">
    <div class="silc-grid">
      <div class="silc-grid__col silc-grid__col--1-medium"> <a class="social-links__item" href="">
          <i class="icon-twitter"><span class="visible-for-screen-readers">Twitter</span></i>
        </a></div>
      <div class="silc-grid__col silc-grid__col--11-medium">
        <div class="facebook-twitter-feed__desc">
          <p class="body-text--social-media">Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed
            aliquam ultrices mauris. <strong>#Integer
            </strong>ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. <strong>#hashtag</strong> </p>
          <p>{{>@fancy-link--light fancyLinktext="View on Twitter"}}</p>
        </div>
      </div>
    </div>


  </div>
</div>
