<div class="block-header block-header--red">
  <div class="block-header__title"><span class="block-header__icon icon-{{titleIcon}}"></span><h2>{{blockTitle}}</h2>
  </div>

  <div class="block-header__btn">{{>@fancy-link--light}}</div>
</div>
