<div class="utility">
    
    <div class="utility__menu">
        <nav id="">
            <ul class="menu">
                <li class="">
                    <a href="">News</a>
                </li>
                <li class="">
                    <a href="">Events</a>
                </li>
                <li class="">
                    <a href="">Contact</a>
                </li>
            </ul>
        </nav>
    </div>


</div>

<div class="utility__search-mobile">
    <form action="/search/node" class="utility__search-form-mobile" id="{{ fid }}" method="get">
        <label for="{{ sid }}" class="visible-for-screen-readers">Search this Site</label>
        <input type="text" class="utility__search__mobile-input" name="keys" id="{{ sid }}" placeholder="Search...">
        <button type="submit" class="utility__search__mobile-submit">go</button>
    </form>
</div>