<div class="hero-image" style="background-image:url('{{ hero_image }}')"></div>
<header class="post-header">
  <div class="compartment">
    {{ breadcrumbs }}
    <h1 class="post-header__title">{{ node.title.value }}</h1>
  </div>
</header>
