@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@font-face {
  font-family: 'Serif12Beta';
  src: url('../fonts/Serif12Beta-Regular.eot');
  src: url('../fonts/Serif12Beta-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Serif12Beta-Regular.woff2') format('woff2'), url('../fonts/Serif12Beta-Regular.woff') format('woff'), url('../fonts/Serif12Beta-Regular.ttf') format('truetype'), url('../fonts/Serif12Beta-Regular.svg#Serif12Beta-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Serif12Beta';
  src: url('../fonts/Serif12Beta-Italic.eot');
  src: url('../fonts/Serif12Beta-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Serif12Beta-Italic.woff2') format('woff2'), url('../fonts/Serif12Beta-Italic.woff') format('woff'), url('../fonts/Serif12Beta-Italic.ttf') format('truetype'), url('../fonts/Serif12Beta-Italic.svg#Serif12Beta-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Serif12Beta';
  src: url('../fonts/Serif12Beta-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Serif12Beta-Bold.woff2') format('woff2'), url('../fonts/Serif12Beta-Bold.woff') format('woff'), url('../fonts/Serif12Beta-Bold.ttf') format('truetype'), url('../fonts/Serif12Beta-Bold.svg#Serif12Beta-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Serif12Beta';
  src: url('../fonts/Serif12Beta-BoldItalic.eot');
  src: url('../fonts/Serif12Beta-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Serif12Beta-BoldItalic.woff2') format('woff2'), url('../fonts/Serif12Beta-BoldItalic.woff') format('woff'), url('../fonts/Serif12Beta-BoldItalic.ttf') format('truetype'), url('../fonts/Serif12Beta-BoldItalic.svg#Serif12Beta-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

// @font-face {
//     font-family: 'serif12';
//     src: url('../fonts/serif12beta-regular.eot');
//     src: url('../fonts/serif12beta-regular.woff') format("woff"), url('../fonts/serif12beta-regular.ttf') format("truetype") , url('Serif12Beta-Regular.otf') format("truetype");
//     font-weight: 400;
//     font-style: normal
// }

@mixin icon() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?homudp');
  src:  url('../fonts/icomoon.eot?homudp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?homudp') format('truetype'),
    url('../fonts/icomoon.woff?homudp') format('woff'),
    url('../fonts/icomoon.svg?homudp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-our-people-line:before {
  content: "\e90a";
}
.icon-announcement-line:before {
  content: "\e909";
}
.icon-calendar-line:before {
  content: "\e900";
}
.icon-phone-line:before {
  content: "\e901";
}
.icon-paper-line:before {
  content: "\e902";
}
.icon-picture-line:before {
  content: "\e903";
}
.icon-info-line:before {
  content: "\e904";
}
.icon-envelope-line:before {
  content: "\e905";
}
.icon-location-line:before {
  content: "\e906";
}
.icon-heart-line:before {
  content: "\e907";
}
.icon-news-line:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e91a";
}
.icon-chevron-right:before {
  content: "\e91b";
}
.icon-chevron-left:before {
  content: "\e91c";
}
.icon-chevron-down:before {
  content: "\e91d";
}
.icon-chevron-up:before {
  content: "\e91e";
}
.icon-home:before {
  content: "\e91f";
}
.icon-minus:before {
  content: "\e920";
}
.icon-plus1:before {
  content: "\e921";
}
.icon-menu:before {
  content: "\e922";
}
.icon-arrow-right1:before {
  content: "\e923";
}
.icon-play:before {
  content: "\e924";
}
.icon-play-button:before {
  content: "\e925";
}
.icon-envelope:before {
  content: "\e926";
}
.icon-quotes:before {
  content: "\e927";
}
.icon-plus:before {
  content: "\e928";
}
.icon-minus1:before {
  content: "\e929";
}
.icon-calendar:before {
  content: "\e92a";
}
.icon-news:before {
  content: "\e92b";
}
.icon-our-people:before {
  content: "\e92c";
}
.icon-hearth:before {
  content: "\e92d";
}
.icon-arrow-left:before {
  content: "\e92e";
}
.icon-arrow-right:before {
  content: "\e92f";
}
.icon-info:before {
  content: "\e930";
}
.icon-arrow-down:before {
  content: "\e931";
}
.icon-arrow-up:before {
  content: "\e932";
}
.icon-paper:before {
  content: "\e933";
}
.icon-picture:before {
  content: "\e934";
}
.icon-announcement:before {
  content: "\e935";
}
.icon-map-marker:before {
  content: "\e936";
}
.icon-arrow_upward:before {
  content: "\e937";
}
.icon-arrow_forward:before {
  content: "\e938";
}
.icon-arrow_downward:before {
  content: "\e939";
}
.icon-arrow_back:before {
  content: "\e93a";
}
.icon-x:before {
  content: "\e93b";
}
.icon-x1:before {
  content: "\e93c";
}
.icon-Home:before {
  content: "\e93d";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-search:before {
  content: "\e986";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-flickr:before {
  content: "\eaa3";
}
.icon-linkedin2:before {
  content: "\eaca";
}
