{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
  <nav aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb__items">
      {% for item in breadcrumb %}
      {% if loop.last %}
          <li class="breadcrumb__item breadcrumb__item--active">
      {% else %}
          <li class="breadcrumb__item">
      {% endif %}
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
