{#
/**
 * @file
 * Theme override to display an HC Article node teaser.
 */
#}

<!-- content -->
<section class="section--padded-top">
  <div class="compartment">
      <div class="silc-grid silc-grid--collapse">
          <div class="silc-grid__col silc-grid__col--12-large kitchen-sink--main-col">
            <h3 class="news-and-events__title header--h3-small">{{node.title.value}}</h3>
            <p class="body-text--small">{{ content.body }}</p>
            <a href="{{ url }}" class="fancy-link">
              <span>Read More</span>
              <span class="icon-arrow-right"></span>
            </a>
            <!-- Render without, so quickedit/etc works -->
            {{ content|without('body', 'links', 'field_hc_featured_image', 'field_hc_article_category', 'field_hc_header_image', 'field_hc_hide_header_image') }}
          </div>
      </div>
  </div>
</section>
