.btn,
.webform-button--submit,
.button .button--primary, .js-form-submit, .form-submit,
.webform-button--reset, .js-webform-novalidate {
  background: $yellow;
  cursor: pointer;
  width: auto!important;
  border-radius: rem(4);
  margin-bottom: rem(15);
  margin-right: rem(10);
  display: inline-flex;
  font-size: rem(13);
  line-height: rem(16);
  color: $darkgray;
  text-align: center;
  height: rem(48);
  padding: 0 rem(18);
  align-items: center;
  text-decoration: none;
  &__text {
    transform: translateX(15px);
    transition: transform .3s ease-in-out;
  }
  @extend %sans-extra-bold;
  @include media('medium') {
    font-size: rem(16);
    line-height: rem(20);
    height: rem(60);
    padding: 0 rem(24);
    margin-right: rem(24);
  }
  .icon-arrow-right {
    transform: translateX(-30px);
    display: inline-block;
    position: relative;
    background: $darkgray;
    text-align: center;
    margin-left: rem(10);
    width: rem(18);
    height: rem(18);
    border-radius: rem(18);
    opacity: 0;
    transition: background .3s ease-in-out, transform .2s ease-in-out, opacity .1s ease-out;
    &:before {
      position: absolute;
      color: $yellow;
      font-size: rem(12);
      top: calc(50% - 6px);
      left: rem(3);
      @include media('medium') {
        top: calc(50% - 8px);
        left: rem(4);
        font-size: rem(15);
      }
    }
    @include media('medium') {
      width: rem(24);
      height: rem(24);
      border-radius: rem(24);
    }
  }
  &:hover,&:focus {
    text-decoration: none;
    .btn__text {
      transform: translateX(0)
    }
    .icon-arrow-right {
      transform: translateX(0);
      opacity: 1;
      transition: background .3s ease-in-out, transform .2s ease-in-out, opacity .1s ease-in;
    }
  }
}

.webform-button--reset, .js-webform-novalidate {
  background: $reset
}

.webform-button--submit,
.button .button--primary, .js-form-submit, .form-submit,
.webform-button--reset, .js-webform-novalidate {
  transition: background .3s ease-in-out;
&:hover{
  background: $lightblue;
  color: $white;

}

}
