/*
 * silc variable overrides
 *
 */

$silc-grid--gutter: 24px;
$silc-core--breakpoints: (
  ("small", "(min-width: 500px)"),
  ("medium-s", "(min-width: 600px)"),
  ("table", "(min-width: 639px)"),
  ("medium", "(min-width: 800px)"),
  ("medium-l", "(min-width: 1000px)"),
  ("large-s", "(min-width: 1099px)"),
  ("large", "(min-width: 1250px)"),
  ("big", "(min-width: 1600px)"),
  ("1220", "(min-width: 1220px)"),
  ("1250", "(min-width: 1250px)"),
  ("1300", "(min-width: 1300px)"),
  ("1440", "(min-width: 1440px)")
) !default;
$silc-nav--options--expands: 1250px !default;

$silc-utilities--margin: (
  ("0", "0"),
  ("auto", "auto"),
  ("1", ".25rem"),
  ("2", ".5rem"),
  ("3", ".75rem"),
  ("4", "1rem"),
  ("5", "1.25rem")
);

.block-header__description {
  margin-top: -1rem;
  margin-bottom: 1.875rem;
}

.news-and-events__img img {
  height: 11rem;
  width: 100%;
  max-height: 11rem;
  object-fit: cover;
  object-position: center;
}

.news-and-events__img:before {
  display: contents !important;
}

.news-and-events__img.news_article:before {
  display: block !important;
}

// Profiles Feed Image Styles //
.faculty-profile__img img {
  width: 10rem;
  height: 10rem;
  margin: 0 auto 1.125rem auto;
}
// Featured Article Image Styles //
.section-content__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 3 News Stories with images //
.news-and-events__img.news-and-events__img_portrait img {
  width: 100%;
  height: 21rem;
  max-height: 33.75rem;
  @media only screen and (max-width: 800px) {
    max-height: 8rem;
  }
}

// 1 Featured Story / 3 Without Images //
.news-and-events__block.news-and-events__block_feat_3up div.news-and-events__img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  max-height: 33.75rem;
  @media only screen and (max-width: 800px) {
    height: 11rem;
  }
}

// 1 Featured Story / 4 Without Images //
.news-and-events__block.news-and-events__block_feat_4up div.news-and-events__img img {
  height: 100%;
  max-height: 38.75rem;
  @media only screen and (max-width: 800px) {
    height: 11rem;
  }
}

// Promotional Space with Multiple Images //
.image-type-1.silc-grid__col.silc-grid__col--4-medium img, .image-type-2.silc-grid__col.silc-grid__col--4-medium img, .image-type-3.silc-grid__col.silc-grid__col--4-medium img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

// Callout large homepage //
.full-width-cta img {
  width: 100%;
}

.news-and-events__img.ks_article_img {
  aspect-ratio:.8;
  &:before {
    display: none;
  }
}

.news-and-events__img.ks_article_img img {
  display: block;
  height: 100%;
  max-height: fit-content;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
