<div class="sidebar-nav" aria-label="Sidebar Navigation">
    <h3><a class="silc-offcanvas__trigger" href="#sidebar-nav">Section Menu</a></h3>
    <div class="silc-offcanvas silc-offcanvas--sidebar-nav" id="sidebar-nav">
        <nav class="silc-nav">
            <ul>
                <li>
                    {{ label }}
                    {{ content }}
                </li>
            </ul>
        </nav>
    </div>
</div>
