@include media('medium'){
  .timeline {
    padding: 100px 50px;
    position: relative;
    margin:auto;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba($black, 0.2);
      &:before {
        content: '';
        position: absolute;
        top: 0px;
        left:calc(33% + 15px);
        bottom: 0px;
        width: 4px;
        background:$gray2;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
  }
  .entry {
    clear: both;
    text-align: left;
    position: relative;
    margin-bottom: 3.5rem !important;
    display:flex;
      .title {
        float: left !important;
        width: 33.33% !important;
        p {
          margin: 0;
          font-size: 100%;
        }
      }
      .body {
        float: right;
        width: 66%;
        padding-left:30px;
        p {
            line-height: 1.4em;
            &:first-child {
              margin-top: 0;
              font-weight: 400;
          }
        }
      }
    }
  }
  .timeline {
    padding: 33px;
    background:$white;
    .entry {
      margin-bottom: 2rem;
      &:last-of-type{
        margin-bottom: 0;
      }
      .title {
        float: none;
        width: 100%;
        padding-right:0;
        text-align: left;
        position: relative;
        .lead-in{
          margin-bottom: 0;
        }
        p{
          font-weight: bold;
        }
      }
    }
  }
