

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="silc-accordion">
    <section class="silc-accordion__section">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Accordion 1</h2>
        </header>
        <div class="silc-accordion__content">
            <p>Sed sed ultricies arcu. Sed sit amet aliquet quam, sit amet lobortis turpis. Curabitur fringilla eget urna
                sit amet cursus. Duis dapibus ante ac ex interdum, eget fermentum eros bibendum. Pellentesque facilisis iaculis
                lacus, ut blandit leo rutrum sit amet. Pellentesque bibendum feugiat massa, ut euismod magna commodo sed.
                Cras nec justo magna. Praesent enim tellus, volutpat vitae ex dapibus, sollicitudin ultrices dui. Mauris
                maximus ut nunc ac eleifend. Mauris pharetra metus posuere scelerisque iaculis. Proin finibus nibh orci,
                eu lobortis tortor pulvinar vel.Mauris feugiat pellentesque orci non varius. Aliquam sed facilisis lacus.
                In massa nulla, mollis sit amet elit id, finibus consectetur felis. Phasellus tincidunt, turpis et aliquam
                accumsan, nisl erat condimentum orci.</p>
            <ul>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, ducimus quia eveniet animi laudantium reprehenderit natus consequatur repudiandae omnis esse iusto deserunt quibusdam sed delectus. Dolorem neque possimus suscipit reiciendis.</li>
                <li>Nam et dolorum, possimus voluptatibus nesciunt, voluptas maxime, ducimus accusantium sunt pariatur quae aut. Veritatis, amet. Ad adipisci, voluptas sint, impedit quis ipsam aspernatur, facere obcaecati similique laboriosam quasi reprehenderit!</li>
                <li>Asperiores voluptatem qui impedit quae eaque! Quibusdam in distinctio provident sequi vel hic ex dolor autem sed, laborum ipsum neque omnis totam perspiciatis possimus rerum qui accusantium reprehenderit nam eius.</li>
            </ul>
        </div>
    </section>
    <section class="silc-accordion__section">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Accordion 2</h2>
        </header>
        <div class="silc-accordion__content">



            <div class="section-content__floating-img">
                <div class="section-content__img" style="background-image:url('../../img/Reading_to_Student.jpg')"></div>
                <p class="body-text--caption">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                    vulputate eget, arcu.</p>
            </div>
            <h3>Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>
            <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer
                ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper
                ipsum rutrum nunc. Nunc nonummy metus. </p>
            <p><a href="#" class="fancy-link">
  <span>Read the Article</span>
  <span class="icon-arrow-right"></span>
</a>
 </p>

        </div>
    </section>
</div>

        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

