

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="silc-accordion silc-accordion--tabs">
    <nav class="silc-accordion__nav">
        <ul class="silc-accordion__nav-items">
            <li class="silc-accordion__nav-item"><a class="silc-accordion__nav-link" href="#silc-accordion-tabs-0">Tab 1</a></li>
            <li class="silc-accordion__nav-item"><a class="silc-accordion__nav-link" href="#silc-accordion-tabs-1">Tab 2</a></li>
        </ul>
    </nav>
    <section class="silc-accordion__section" id="silc-accordion-tabs-0">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Tab 1</h2>
        </header>
        <div class="silc-accordion__content"><p>This is the content area of tab 1</p></div>
    </section>
    <section class="silc-accordion__section" id="silc-accordion-tabs-1">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Tab 2</h2>
        </header>
        <div class="silc-accordion__content"><p>This is the content area of tab 2</p></div>
    </section>
</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

