

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="alumni-profile">
  <div class="silc-grid silc-grid--no-gutters silc-grid--collapse">
    <div class="silc-grid__col silc-grid__col--4-medium">
      <div class="alumni-profile__img" style="background-image:url('../../img/actress.jpg')">
        <div class="alumni-profile__caption">
          <h3>Taraji P. Henson</h3>
          <h4><span>'85</span><span>PH. D. DEGREE NAME</span></h4>
        </div>
      </div>


    </div>
    <div class="silc-grid__col silc-grid__col--8-medium">
    <div class="alumni-profile__quote">  <p>Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus,
        vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. </p>
      <p>Curabitur ac condimentum nulla, ac imperdiet lectus. Vestibulum auctor varius tortor, sit amet rutrum mauris cursus
        vel. Quisque ac dapibus nunc. Fusce vel congue turpis. Suspendisse vel purus ac velit euismod.</p>
      <blockquote>
        <p>Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus,
          vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor.</p>
      </blockquote></div>
    </div>
  </div>
</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

