

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="announcements">
  <div class="block-header block-header--">
    <div class="block-header__title"><span class=" block-header__icon icon-announcement"></span><h2>Announcements</h2>
    </div>
  
    <div class="block-header__btn"><a href="#" class="fancy-link fancy-link--light">
    <span>Link to Page</span>
    <span class="icon-arrow-right"></span>
  </a>
  </div>
  </div>
  <div class="silc-grid">
    <div class="silc-grid__col silc-grid__col--12">
      <div class="announcements__block announcements__block--featured">
        <h3 class="announcements__title">Featured Announcement Vivamus Elementum Semper Nisi Varius </h3>
        <p><span class="announcements__date">May 21, 2018</span></p>
        <p>Proin finibus nibh orci, eu lobortis tortor pulvinar vel.Mauris feugiat pellentesque orci non varius. Aliquam
          sed facilisis lacus. In massa nulla, mollis sit amet elit id.</p>
      </div>
    </div>
    <div class="silc-grid__col silc-grid__col--12">
      <div class="announcements__block">
        <h3 class="announcements__title">Featured Announcement Vivamus Elementum Semper Nisi Varius </h3>
        <span class="body-text--date">May 21, 2018</span>
        <p>Proin finibus nibh orci, eu lobortis tortor pulvinar vel.Mauris feugiat pellentesque orci non varius. Aliquam
          sed facilisis lacus. In massa nulla, mollis sit amet elit id.</p>
      </div>
    </div>

  </div>
</div>

        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

