

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <nav aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb__items">
                <li class="breadcrumb__item"><a href="#">Item 1</a></li>
                <li class="breadcrumb__item"><a href="#">Item 2</a></li>
                <li class="breadcrumb__item breadcrumb__item--active" aria-current="Item 3">Item 3</li>
    </ol>
</nav>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

