

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="contact-box">

  <h3 class="sidebar-title">General Information</h3>
  <p>
    <span>General Information </span>
    <span>202-238-XXXX</span>
    <span>email@howard.edu</span></p>
  <p>
    <span>Dr. John Thomas</span>
    <span>Professor and Chair</span>
    <span>202-238-XXXX</span>
    <span>email@howard.edu</span>
  </p>
</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

