

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="giving__data-point">
    <div class="giving__data-point__container">
        <div class="giving__data-point__stat-container">
            <p class="giving__data-point__stat">$56M</p>
            <p class="data-point__stat-subtext">consequuntur magni dolores eos</p>
        </div>
        <div class="giving__data-point__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

