<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.10.1" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.10.1" type="text/css">


<title>Error rendering component department | Component Library</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>The partial @programs could not be found</p>

    </div>
    
    <code class="Error-stack">
        <pre>Error: The partial @programs could not be found
    at Object.invokePartial (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/handlebars/dist/cjs/handlebars/runtime.js:332:11)
    at Object.hbs.VM.invokePartial (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/@frctl/handlebars/src/adapter.js:76:38)
    at Object.hbs.VM.invokePartial (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/@frctl/handlebars/src/adapter.js:76:38)
    at Object.invokePartialWrapper [as invokePartial] (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/handlebars/dist/cjs/handlebars/runtime.js:84:39)
    at Object.eval [as main] (eval at createFunctionContext (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/handlebars/dist/cjs/handlebars/compiler/javascript-compiler.js:262:23), <anonymous>:24:28)
    at main (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/handlebars/dist/cjs/handlebars/runtime.js:208:32)
    at ret (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/handlebars/dist/cjs/handlebars/runtime.js:212:12)
    at ret (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/handlebars/dist/cjs/handlebars/compiler/compiler.js:519:21)
    at prepareAndResolveMarkers (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/promised-handlebars/index.js:99:39)
    at /Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/promised-handlebars/lib/utils.js:29:28
    at HandlebarsAdapter.render (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/@frctl/handlebars/src/adapter.js:37:30)
    at ComponentSource._renderVariant (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/@frctl/fractal/src/api/components/source.js:212:30)
    at _renderVariant.next (<anonymous>)
    at onFulfilled (/Users/bradwalker/Sites/hu_general/idfive-component-library/node_modules/co/index.js:65:19)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.10.1"></script>



</body>
</html>
