

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="department-title section--blue-blend section--padded-large">
  <div class="background" style="background-image:url('../../img/Howard_Campus.jpg')"></div>
  <div class="compartment">
    <div class="silc-grid silc-grid--collapse">
      <div class="silc-grid__col silc-grid__col--8-medium">
        <h2 class=" header--white header--page-intro">Intro statement lorem ispum dolor sit amet</h2>
        <p class="lead-in-large"> In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
          pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
          tellus.
        </p>
      </div>
      <div class="silc-grid__col silc-grid__col--4-medium"> <div class="contact-box">

  <h2 class="sidebar-title">General Information</h2>
  <p>
    <span>General Information </span>
    <span>202-238-XXXX</span>
    <span>email@howard.edu</span></p>
  <p>
    <span>Dr. John Thomas</span>
    <span>Professor and Chair</span>
    <span>202-238-XXXX</span>
    <span>email@howard.edu</span>
  </p>
</div>
</div>
    </div>
  </div>
</div>

        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

