

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="facebook-twitter-feed">
  <div class="compartment">
    <div class="silc-grid">
      <div class="silc-grid__col silc-grid__col--1-medium"> <a class="social-links__item" href="">
          <i class="icon-facebook"><span class="visible-for-screen-readers">Facebook</span></i>
        </a></div>
      <div class="silc-grid__col silc-grid__col--11-medium">
        <div class="facebook-twitter-feed__desc">
          <p class="body-text--social-media">Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed
            aliquam ultrices mauris. <a>#Integer
            </a>ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. <a>#hashtag</a> </p>
          <p><a href="#" class="fancy-link fancy-link--light">
  <span>View on Twitter</span>
  <span class="icon-arrow-right"></span>
</a>
</p>
        </div>
      </div>
    </div>


  </div>
</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

