

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="section-content">
  <div class="block-header block-header--slim">
    <div class="block-header__title">
      <span class=" block-header__icon icon-"></span><h2></h2>
    </div>
  
  
  </div>
  <div class="section-content__block">
    <div class="silc-grid silc-grid--collapse">
      <div class="silc-grid__col silc-grid__col--4-large">
        <div class="section-content__img" style="background-image:url('../../img/students-walking.jpg')"></div>

      </div>
      <div class="silc-grid__col silc-grid__col--8-large">
        <h3>Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>
        <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer
          ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum
          rutrum nunc. Nunc nonummy metus. </p>
        <p><a href="#" class="fancy-link">
  <span>Read the Article</span>
  <span class="icon-arrow-right"></span>
</a>
 </p>
      </div>

    </div>
  </div>
</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

