

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="slideshow--wrapper">
  <div class="slideshow">
    <div class="slideshow__single">
      <div class="slideshow__img" style="background-image:url('../../img/students-walking.jpg')"></div>
      <div class="slideshow__desc">
        <h2>Title Lorem Ipsum Dolor Sit Amet</h2>
        <p class="body-text--small body-text--light"> Large (carousel/pop-up)Image caption text - Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </p> <a href="#" class="fancy-link">
  <span>Read More</span>
  <span class="icon-arrow-right"></span>
</a>

      </div>
    </div>

    <div class="slideshow__single">
      <div class="slideshow__img" style="background-image:url('http://via.placeholder.com/840x416')"></div>
      <div class="slideshow__desc">
        <h2>Reprehenderit et ut quia ea dolores qui optio minus accusantium.</h2>
        <p class="body-text--small body-text--light"> Large (carousel/pop-up)Image caption text - Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </p>
        <a href="#" class="fancy-link">
          <span>Read More</span>
          <span class="icon-arrow-right"></span>
        </a>
      </div>
    </div>

  </div>

</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

