

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="full-width-cta">
    <div class="background" style="background-image:url('../../img/students-walking.jpg')"></div>
    <div class="compartment">
        <h2>Take Your Next Step</h2>
        
<a href="#" class="btn"> <span class="btn__text">Visit Campus</span>
<span class="icon-arrow-right"></span></a>


 
<a href="#" class="btn"> <span class="btn__text">Apply</span>
<span class="icon-arrow-right"></span></a>



    </div>
</div>

        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

