

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="section-content">
  <div class="block-header block-header--red">
    <div class="block-header__title"><span class=" block-header__icon icon-hearth"></span><h2>Giving Impact</h2>
    </div>
  
    <div class="block-header__btn"><a href="#" class="fancy-link fancy-link--light">
    <span>Link to Page</span>
    <span class="icon-arrow-right"></span>
  </a>
  </div>
  </div>
  <div class="section-content__block">
    <h3>Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>
    <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante
      arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc.
      Nunc nonummy metus. </p>
    <p><a href="#" class="fancy-link">
  <span>Read the Article</span>
  <span class="icon-arrow-right"></span>
</a>
 </p>
  </div>

</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

