

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <a href="#content" class="skip-link">
  Skip to content</a>
  <header class="main-header" aria-label="main-header">
    <div class="main-header__top">
      <div class="main-header__logo">
        <div class="main-header__logo-link">
          <a class="main-header__hu-logo" href="http://howard.edu">
            <img src="../../img/site-logo-white.svg" alt="Howard Logo">
          </a>
          <span class="main-header__title"><a href="https://coas.howard.edu">College of Arts and Sciences</a></span>
        </div>
      </div>
      <div class="main-header__utility"><div class="utility">
  <div class="utility__menu">

	<nav role="navigation" aria-labelledby="block-secondarynavigation-menu" id="block-secondarynavigation">

  <h2 id="block-secondarynavigation-menu">Secondary Navigation</h2>



              <ul block="secondarynavigation">
              <li>
        <a href="https://calendar.howard.edu">Events</a>
              </li>
          <li>
        <a href="https://newsroom.howard.edu">News</a>
              </li>
        </ul>



  </nav>


  </div>
  <div class="utility__search">
    <form action="/search/node" class="utility__search-form main-search" id="mainSearch" method="get">
      <label for="keyword" class="visible-for-screen-readers">Search this Site</label>
      <input type="text" class="utility__search-input" id="keyword" placeholder="Search...">
      <button type="submit" class="utility__search-submit">go</button>
    </form>
    <button aria-hidden="true" class="utility__search-trigger"><span class="visually-hidden">Trigger Search</span></button>
  </div>
</div>
</div>
    </div>
    <div class="main-header__bottom">
      <h2 class="main-header__dept">Department of English</h2>
      <div class="main-header__nav-wrap">

        <div class="main-header__drawer">
          <div class="main-header__nav"><nav role="navigation" aria-labelledby="block-hu-general-main-menu-menu" id="block-hu-general-main-menu">

    <h2 class="visually-hidden" id="block-hu-general-main-menu-menu">Main navigation</h2>



    <ul>
        <li>
            <a href="/#about" data-drupal-link-system-path="<front>">About</a>
            <ul>
                <li>
                    <a href="/#amieligible" data-drupal-link-system-path="<front>">Am I Eligible</a></li>
                <li>
                    <a href="/#applynow" data-drupal-link-system-path="<front>">Apply Now</a>
                </li>
                <li>
                    <a href="/#checkapplicationstatus" data-drupal-link-system-path="<front>">Check Application Status</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/#events" data-drupal-link-system-path="<front>">Events</a>
        </li>
        <li>
            <a href="/#safety" data-drupal-link-system-path="<front>">Safety</a>
        </li>
        <li>
            <a href="/#stayconnected" data-drupal-link-system-path="<front>">Stay Connected</a>
        </li>
        <li>
            <a href="/#news" data-drupal-link-system-path="<front>">News</a>
        </li>
        <li>
            <a href="/#accommodations" data-drupal-link-system-path="<front>">Getting Around</a>
        </li>
        <li>
            <a href="" data-drupal-link-system-path="<front>">Information For</a>
        </li>
    </ul>



</nav>
</div>
          <div class="main-header__utility main-header__utility--mobile"><div class="utility">
    
    <div class="utility__menu">
        <nav id="">
            <ul class="menu">
                <li class="">
                    <a href="">News</a>
                </li>
                <li class="">
                    <a href="">Events</a>
                </li>
                <li class="">
                    <a href="">Contact</a>
                </li>
            </ul>
        </nav>
    </div>


</div>

<div class="utility__search-mobile">
    <form action="/search/node" class="utility__search-form-mobile" id="" method="get">
        <label for="" class="visible-for-screen-readers">Search this Site</label>
        <input type="text" class="utility__search__mobile-input" name="keys" id="" placeholder="Search...">
        <button type="submit" class="utility__search__mobile-submit">go</button>
    </form>
</div></div>
        </div>
      </div>
      <div class="main-header__trigger-menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
  </header>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

