

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="hero-image" style="background-image:url('../../img/graduates_talking.jpg')">

</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

