

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="silc-grid silc-grid--collapse">
    <div class="silc-grid__col silc-grid__col--6-large"><a href="#" class="fancy-link">
  <span>Request Information</span>
  <span class="icon-arrow-right"></span>
</a>
</div>
    <div class="silc-grid__col silc-grid__col--6-large"><a href="#" class="fancy-link">
  <span>Request Information</span>
  <span class="icon-arrow-right"></span>
</a>
</div>
     <div class="silc-grid__col silc-grid__col--6-large"><a href="#" class="fancy-link">
  <span>Link/Resource Title</span>
  <span class="icon-arrow-right"></span>
</a>
</div>
    <div class="silc-grid__col silc-grid__col--6-large"><a href="#" class="fancy-link">
  <span>Link/Resource Title</span>
  <span class="icon-arrow-right"></span>
</a>
</div>
     <div class="silc-grid__col silc-grid__col--6-large"><a href="#" class="fancy-link">
  <span>Link/Resource Title</span>
  <span class="icon-arrow-right"></span>
</a>
</div>
    <div class="silc-grid__col silc-grid__col--6-large"><a href="#" class="fancy-link">
  <span>Link/Resource Title</span>
  <span class="icon-arrow-right"></span>
</a>
</div>
</div>

        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

