

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <nav class="silc-nav main-nav" aria-label="main-menu">
  <ul>
    <li class="silc-nav__item--home"><a href="#">Home</a></li>
    <li>
      <a href="#">About</a>
      <ul>
        <li>
          <a href="">Am I Eligible</a>
        </li>
        <li>
          <a href="">Apply Now</a>
        </li>
        <li>
          <a href="">Check Application Status</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#academics">Academics</a>

    </li>
    <li>
      <a href="#people">People</a>
    </li>
    <li>
      <a href="#">Department Specific Section</a>
    </li>
    <li>
      <a href="">Another Section</a>
    </li>
    <li>
      <a href="">Another Longer Section</a>
    </li>
  </ul>
</nav>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

