

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <nav role="navigation" aria-labelledby="block-hu-general-main-menu-menu" id="block-hu-general-main-menu">

    <h2 class="visually-hidden" id="block-hu-general-main-menu-menu">Main navigation</h2>



    <ul>
        <li>
            <a href="/#about" data-drupal-link-system-path="<front>">About</a>
            <ul>
                <li>
                    <a href="/#amieligible" data-drupal-link-system-path="<front>">Am I Eligible</a></li>
                <li>
                    <a href="/#applynow" data-drupal-link-system-path="<front>">Apply Now</a>
                </li>
                <li>
                    <a href="/#checkapplicationstatus" data-drupal-link-system-path="<front>">Check Application Status</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/#events" data-drupal-link-system-path="<front>">Events</a>
        </li>
        <li>
            <a href="/#safety" data-drupal-link-system-path="<front>">Safety</a>
        </li>
        <li>
            <a href="/#stayconnected" data-drupal-link-system-path="<front>">Stay Connected</a>
        </li>
        <li>
            <a href="/#news" data-drupal-link-system-path="<front>">News</a>
        </li>
        <li>
            <a href="/#accommodations" data-drupal-link-system-path="<front>">Getting Around</a>
        </li>
        <li>
            <a href="" data-drupal-link-system-path="<front>">Information For</a>
        </li>
    </ul>



</nav>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

