

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24834.269722405676!2d-77.0088805253174!3d38.9174922915371!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x32dcc71fc8db77c2!2sHoward+University!5e0!3m2!1sen!2sco!4v1535080369262"
   width='1024' height='576' frameborder="0" style="border:0" allowfullscreen></iframe></div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

