

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="news-and-events">
  <div class="block-header block-header--">
    <div class="block-header__title"><span class=" block-header__icon icon-calendar"></span><h2>Events</h2>
    </div>
  
    <div class="block-header__btn"><a href="#" class="fancy-link fancy-link--light">
    <span>Link to Page</span>
    <span class="icon-arrow-right"></span>
  </a>
  </div>
  </div>
  <div class="silc-grid">
    <div class="silc-grid__col silc-grid__col--4-medium">
      <a href="#" class="news-and-events__block">
        <div class="news-and-events__img" style="background-image:url('../../img/Dancer_On_Stage.jpg')">
        </div>

        <div class="news-and-events__desc">
          <span class="news-and-events__date">May 21, 2018</span>
          <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>
          <p class="body-text--small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</p>
        </div></a>
    </div>
    <div class="silc-grid__col silc-grid__col--4-medium">
  <a href="#" class="news-and-events__block">
        <div class="news-and-events__img" style="background-image:url('../../img/Howard_Campus.jpg')">
        </div>

        <div class="news-and-events__desc">
          <span class="news-and-events__date">May 21, 2018</span>
          <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>
          <p class="body-text--small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</p>
        </div></a>
    </div>
    <div class="silc-grid__col silc-grid__col--4-medium">
     <a href="#" class="news-and-events__block">
        <div class="news-and-events__img" style="background-image:url('../../img/graduates_talking.jpg')">
        </div>

        <div class="news-and-events__desc">
          <span class="news-and-events__date">May 21, 2018</span>
          <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>
          <p class="body-text--small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</p>
        </div></a>
    </div>
  </div>
</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

