

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="our-people">
  <div class="our-people__cell">
    <div class="silc-grid silc-grid--collapse">
      <div class="silc-grid__col silc-grid__col--4-table">
        <div class="our-people__img" style="background-image: url('../../img/graduates_talking.jpg')"></div>
      </div>
      <div class="silc-grid__col silc-grid__col--8-table">
        <div class="our-people__desc">
          <h2>Carla Brailey, Ph.D</h2>
          <h4>Faculty</h4>
          <p>Sed sed ultricies arcu. Sed sit amet aliquet quam, sit amet lobortis turpis. Curabitur fringilla eget urna sit
            amet cursus. Duis dapibus ante ac ex interdum, eget fermentum eros bibendum.</p>
          <p class="body-text--caption">Research Interests: Mathematical Theory, Logic</p>
        </div>
      </div>
    </div>



    <div class="our-people__btn">
      <a href="#" class="fancy-link fancy-link--dark">
        <span>More Details</span>
        <span class="icon-arrow-right"></span>
      </a>
    </div>
  </div>
  <div class="our-people__cell">
    <div class="silc-grid silc-grid--collapse">
      <div class="silc-grid__col silc-grid__col--4-table">
        <div class="our-people__img" style="background-image: url('../../img/graduates_talking.jpg')"></div>
      </div>
      <div class="silc-grid__col silc-grid__col--8-table">
        <div class="our-people__desc">
          <h2>Carla Brailey, Ph.D</h2>
          <h4>Faculty</h4>
          <p>Sed sed ultricies arcu. Sed sit amet aliquet quam, sit amet lobortis turpis. Curabitur fringilla eget urna sit
            amet cursus. Duis dapibus ante ac ex interdum, eget fermentum eros bibendum.</p>
          <p class="body-text--caption">Research Interests: Mathematical Theory, Logic</p>
        </div>
      </div>
    </div>



    <div class="our-people__btn">
      <a href="#" class="fancy-link fancy-link--dark">
        <span>More Details</span>
        <span class="icon-arrow-right"></span>
      </a>
    </div>
  </div>
  <div class="our-people__cell">
    <div class="silc-grid silc-grid--collapse">
      <div class="silc-grid__col silc-grid__col--4-table">
        <div class="our-people__img" style="background-image: url('../../img/graduates_talking.jpg')"></div>
      </div>
      <div class="silc-grid__col silc-grid__col--8-table">
        <div class="our-people__desc">
          <h2>Carla Brailey, Ph.D</h2>
          <h4>Faculty</h4>
          <p>Sed sed ultricies arcu. Sed sit amet aliquet quam, sit amet lobortis turpis. Curabitur fringilla eget urna sit
            amet cursus. Duis dapibus ante ac ex interdum, eget fermentum eros bibendum.</p>
          <p class="body-text--caption">Research Interests: Mathematical Theory, Logic</p>
        </div>
      </div>
    </div>



    <div class="our-people__btn">
      <a href="#" class="fancy-link fancy-link--dark">
        <span>More Details</span>
        <span class="icon-arrow-right"></span>
      </a>
    </div>
  </div>
  <div class="our-people__cell">
    <div class="silc-grid silc-grid--collapse">
      <div class="silc-grid__col silc-grid__col--4-table">
        <div class="our-people__img" style="background-image: url('../../img/graduates_talking.jpg')"></div>
      </div>
      <div class="silc-grid__col silc-grid__col--8-table">
        <div class="our-people__desc">
          <h2>Carla Brailey, Ph.D</h2>
          <h4>Faculty</h4>
          <p>Sed sed ultricies arcu. Sed sit amet aliquet quam, sit amet lobortis turpis. Curabitur fringilla eget urna sit
            amet cursus. Duis dapibus ante ac ex interdum, eget fermentum eros bibendum.</p>
          <p class="body-text--caption">Research Interests: Mathematical Theory, Logic</p>
        </div>
      </div>
    </div>



    <div class="our-people__btn">
      <a href="#" class="fancy-link fancy-link--dark">
        <span>More Details</span>
        <span class="icon-arrow-right"></span>
      </a>
    </div>
  </div>
</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

