

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="sidebar-nav" aria-label="Sidebar Navigation">
    <h3><a class="silc-offcanvas__trigger" href="#sidebar-nav">Section Menu</a></h3>
    <div class="silc-offcanvas silc-offcanvas--sidebar-nav" id="sidebar-nav">
        <a class="sidebar-nav__parent silc-nav__link" href="/test-lvl-1">Test Lvl 1</a>
        <nav class="silc-nav">
            <ul>
                <li>
                    <a href="/test-lvl-1/test-lvl-2" class="is-active" data-drupal-link-system-path="node/41">Test Lvl 2</a>
                    <ul>
                        <li>
                            <a href="/test-lvl-1/test-lvl-2/test-lv2-child" data-drupal-link-system-path="node/58">test lv2 child</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/test-lvl-1/test-ks-page" data-drupal-link-system-path="node/1">Test KS Page</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

