

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <ul class="social-links">
  <li>
    <a class="social-links__item" href="">
      <i class="icon-facebook"><span class="visible-for-screen-readers">Facebook</span></i>
    </a>
  </li>
  <li>
    <a class="social-links__item" href="">
      <i class="icon-twitter"><span class="visible-for-screen-readers">Twitter</span></i>
    </a>
  </li>
  <li>
    <a class="social-links__item" href="">
      <i class="icon-instagram"><span class="visible-for-screen-readers">Instagram</span></i>
    </a>
  </li>

  <li>
    <a class="social-links__item" href="">
      <i class="icon-youtube"><span class="visible-for-screen-readers">Youtube</span></i>
    </a>
  </li>
</ul>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

