

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="sponsors sponsors--logos">
    <div class="block-header block-header--">
      <div class="block-header__title"><span class=" block-header__icon icon-our-people"></span><h2>Our Sponsors</h2>
      </div>
    
    
    </div>
    <div class="silc-grid">
            <div class="silc-grid__col silc-grid__col--6 silc-grid__col--4-small silc-grid__col--3-medium-l">
                <a href="https://idfive.com" class="sponsors__card">
                    <div class="sponsors__card-image">
                        <img src="../../img/Sponsors_Logo_1.png" alt="KPMG">
                    </div>
                    <div class="sponsors__card-title">KPMG</div>
                </a>
            </div>
            <div class="silc-grid__col silc-grid__col--6 silc-grid__col--4-small silc-grid__col--3-medium-l">
                <a href="https://idfive.com" class="sponsors__card">
                    <div class="sponsors__card-image">
                        <img src="../../img/Sponsors_Logo_2.png" alt="PVH">
                    </div>
                    <div class="sponsors__card-title">PVH</div>
                </a>
            </div>
            <div class="silc-grid__col silc-grid__col--6 silc-grid__col--4-small silc-grid__col--3-medium-l">
                <a href="https://idfive.com" class="sponsors__card">
                    <div class="sponsors__card-image">
                        <img src="../../img/Sponsors_Logo_3.png" alt="JP Morgan Chase &amp; Co.">
                    </div>
                    <div class="sponsors__card-title">JP Morgan Chase &amp; Co.</div>
                </a>
            </div>
            <div class="silc-grid__col silc-grid__col--6 silc-grid__col--4-small silc-grid__col--3-medium-l">
                <a href="https://idfive.com" class="sponsors__card">
                    <div class="sponsors__card-image">
                        <img src="../../img/Sponsors_Logo_4.png" alt="Lilly">
                    </div>
                    <div class="sponsors__card-title">Lilly</div>
                </a>
            </div>
            <div class="silc-grid__col silc-grid__col--6 silc-grid__col--4-small silc-grid__col--3-medium-l">
                <a href="https://idfive.com" class="sponsors__card">
                    <div class="sponsors__card-image">
                        <img src="../../img/Sponsors_Logo_5.png" alt="Capital One">
                    </div>
                    <div class="sponsors__card-title">Capital One</div>
                </a>
            </div>
    </div>
</div>

        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

