

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="sponsors sponsors--people">
    <div class="block-header block-header--people">
      <div class="block-header__title"><span class=" block-header__icon icon-our-people"></span><h2>Our Alumni</h2>
      </div>
    
    
    </div>
    <div class="silc-grid">
            <div class="silc-grid__col silc-grid__col--6 silc-grid__col--4-small silc-grid__col--3-medium-l">
                <a href="https://idfive.com" class="sponsors__card">
                    <div class="sponsors__card-image">
                        <img src="../../img/Sponsors_Person_1.jpg" alt="Frank Brown, Jr., MD">
                    </div>
                    <div class="sponsors__card-title">Frank Brown, Jr., MD</div>
                </a>
            </div>
            <div class="silc-grid__col silc-grid__col--6 silc-grid__col--4-small silc-grid__col--3-medium-l">
                <a href="https://idfive.com" class="sponsors__card">
                    <div class="sponsors__card-image">
                        <img src="../../img/Sponsors_Person_2.jpg" alt="Gaynelle S. Henderson, Ph.D">
                    </div>
                    <div class="sponsors__card-title">Gaynelle S. Henderson, Ph.D</div>
                </a>
            </div>
            <div class="silc-grid__col silc-grid__col--6 silc-grid__col--4-small silc-grid__col--3-medium-l">
                <a href="https://idfive.com" class="sponsors__card">
                    <div class="sponsors__card-image">
                        <img src="../../img/Sponsors_Person_3.jpg" alt="Candice Jacko">
                    </div>
                    <div class="sponsors__card-title">Candice Jacko</div>
                </a>
            </div>
            <div class="silc-grid__col silc-grid__col--6 silc-grid__col--4-small silc-grid__col--3-medium-l">
                <a href="https://idfive.com" class="sponsors__card">
                    <div class="sponsors__card-image">
                        <img src="../../img/Sponsors_Person_4.jpg" alt="Janet Welch Bennett, MD">
                    </div>
                    <div class="sponsors__card-title">Janet Welch Bennett, MD</div>
                </a>
            </div>
            <div class="silc-grid__col silc-grid__col--6 silc-grid__col--4-small silc-grid__col--3-medium-l">
                <a href="https://idfive.com" class="sponsors__card">
                    <div class="sponsors__card-image">
                        <img src="../../img/Sponsors_Person_5.jpg" alt="Deborah Carpenter Brittain">
                    </div>
                    <div class="sponsors__card-title">Deborah Carpenter Brittain</div>
                </a>
            </div>
    </div>
</div>

        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

