

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="../../css/index.css">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="utility">
  <div class="utility__menu">
    <nav id="" >
      <ul class="menu">
        <li class="">
          <a href="">News</a>
        </li>
        <li class="">
          <a href="">Events</a>
        </li>
        <li class="">
          <a href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="utility__search">

    <form action="" class="utility__search-form" id="mainSearch">
      <label for="mainSearchInput" class="visible-for-screen-readers">Search this Site</label>
      <input type="text" class="utility__search-input" name="mainSearchInput" id="mainSearchInput" placeholder="Search...">
      <button type="submit" for="utility__search-form" class="utility__search-submit">
         go

      </button>
    </form>
    <button aria-hidden="true" class="utility__search-trigger">
<span class="visible-for-screen-readers">Search</span>
    </button>
  </div>

</div>


        <select class="theme-option-select"></select>
        <script src="../../js/index.js"></script>
    </body>
</html>

