<div class="silc-grid silc-grid--collapse">
    <div class="silc-grid__col silc-grid__col--6-large">{{>@fancy-link fancyLinktext="Request Information"}}</div>
    <div class="silc-grid__col silc-grid__col--6-large">{{>@fancy-link fancyLinktext="Request Information"}}</div>
     <div class="silc-grid__col silc-grid__col--6-large">{{>@fancy-link fancyLinktext="Link/Resource Title"}}</div>
    <div class="silc-grid__col silc-grid__col--6-large">{{>@fancy-link fancyLinktext="Link/Resource Title"}}</div>
     <div class="silc-grid__col silc-grid__col--6-large">{{>@fancy-link fancyLinktext="Link/Resource Title"}}</div>
    <div class="silc-grid__col silc-grid__col--6-large">{{>@fancy-link fancyLinktext="Link/Resource Title"}}</div>
</div>