body.classic_editorial {
  @extend %serif-regular;
  background-color: $white;
  color: #111;

  @include media("medium") {
    font-size: rem(17);
    line-height: (27 / 17);
  }

  &.alerts-active {
    .main-content {
      padding-top: 0;
    }
  }

  /* Typography */

  .hp-html,
  .silc-accordion__content,
  .cke_editable_themed,
  .table {
    a {
      &:not([class]) {
        color: $red;
        &:hover {
          color: $navy;
        }
      }
    }
  }

  .hp-html,
  .silc-accordion__content,
  .cke_editable_themed {
    h1,
    .h1,
    %h1,
    h2,
    .h2,
    %h2,
    h3,
    .h3,
    %h3,
    h4,
    .h4,
    %h4,
    h5,
    .h5,
    %h5,
    h6,
    .h6,
    %h6 {
      @include media("medium") {
        margin-top: rem(40);
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .hp-html,
  .silc-accordion__content {
    h3,
    .h3,
    %h3 {
      &:not(.sidebar-title) {
        font-weight: 400;
      }
    }
  }

  h2,
  .h2,
  %h2 {
    @extend %serif-regular;
    color: $mblue;

    &:not(.main-header__dept):not(.silc-accordion__label) {
      font-size: rem(28);
      line-height: (46 / 36);
      @include media("medium") {
        font-size: rem(36);
      }
    }
  }

  h3,
  .h3,
  %h3 {
    @extend %serif-regular;
    color: $mblue;
    font-size: rem(23);
    line-height: (35 / 27);
    @include media("medium") {
      font-size: rem(27);
    }
  }

  h4,
  .h4,
  %h4 {
    @extend %serif-regular;
    color: $mblue;
    font-size: rem(19);
    letter-spacing: normal;
    line-height: (29 / 21);
    text-transform: none;
    @include media("medium") {
      font-size: rem(21);
    }
  }

  h5,
  .h5,
  %h5 {
    @extend %serif-regular;
    color: #24506e;
    font-size: rem(17);
    letter-spacing: normal;
    line-height: (25 / 18);
    text-transform: none;
    @include media("medium") {
      font-size: rem(18);
    }
  }

  h6,
  .h6,
  %h6 {
    @extend %serif-regular;
    color: $navy;
    font-size: rem(15);
    line-height: (20 / 16);

    @include media("medium") {
      font-size: rem(16);
    }
  }

  .lead-in {
    @extend %serif-italic;
    color: #376180;
    font-size: rem(21);
    margin-bottom: rem(16);
    line-height: (36 / 27);

    @include media("medium") {
      font-size: rem(27);
    }
  }

  .lead-in-large {
    @extend %serif-regular;
    font-size: rem(18);
    line-height: (39 / 24);

    @include media("800") {
      font-size: rem(24);
    }
  }

  .header--page-intro.header--page-intro {
    @extend %serif-italic;
    font-size: rem(30) !important;
    letter-spacing: normal;
    margin-bottom: rem(28);

    @include media("medium") {
      font-size: rem(45) !important;
    }

    &::after {
      content: "";
      border-bottom: rem(1) solid $white;
      display: block;
      margin-top: rem(18);
      width: rem(100);
    }
  }

  .header--white {
    color: $white;
  }

  .fancy-link {
    @extend %serif-bold;

    span {
      color: $lightblue;
      transition: 0.2s color ease-in-out;
    }

    .icon-arrow-right {
      background-color: transparent;
      margin-top: rem(-2);
      &::before {
        color: $lightblue;
        transition: 0.2s color ease-in-out;
      }
    }

    &:hover {
      span,
      .icon-arrow-right::before {
        color: $mblue;
      }
    }
  }

  .body-text--small {
    font-size: rem(13);

    @include media("medium") {
      font-size: rem(15);
      line-height: (22 / 15);
    }
  }

  /* Buttons */
  .btn,
  .webform-button--submit,
  .button .button--primary,
  .js-form-submit,
  .form-submit,
  .webform-button--reset,
  .js-webform-novalidate {
    @extend %serif-bold;
    border-radius: 0;
    background-color: $lightblue;
    border: rem(2) solid $lightblue;
    color: $white;
    font-size: rem(17);
    line-height: (20 / 17);
    padding: rem(14) rem(40) rem(13);

    &:hover {
      background-color: $white;
      color: $lightblue;
    }

    .icon-arrow-right {
      background: $white;

      &::before {
        color: $lightblue;
      }
    }
  }

  /* Layout */

  .main-content {
    padding-top: rem(60);
  }

  .post-header {
    box-shadow: none;
    padding: rem(24) 0 rem(5);

    @include media("medium") {
      padding-top: rem(28);
    }

    > .compartment {
      &::after {
        content: "";
        border-bottom: rem(1) solid #dbdbdb;
        display: block;
        padding-top: rem(14);
      }
    }
  }

  .post-header__title {
    @extend %serif-regular;
    color: $mblue;
    font-size: rem(26);
    line-height: (34 / 26);

    @include media("medium") {
      font-size: rem(42);
    }
  }

  .kitchen-sink--main-col {
    @media (min-width: $silc-nav--options--expands) {
      padding-left: rem(32);
    }
  }

  /* Hero */

  .department-title {
    margin: 0 auto rem(32);
    max-width: rem(1208);

    .contact-box {
      box-shadow: rem(1) rem(4) rem(12) 0 rgba($black, 0.63);
      padding: rem(32);
    }
  }

  .hero-image {
    margin: 0 auto;
    @include media("1250") {
      max-width: rem(1208);
      margin: 0 rem(116);
      width: auto;
    }
    @include media("1440") {
      margin: 0 auto;
    }
  }

  .hero-image-home,
  .hero-video {
    margin-top: rem(-60);
    .hero-image {
      @include media("1250") {
        max-width: none;
      }
    }
    .compartment {
      h2 {
        &.header--white.header--page-intro {
          border-left: none;
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .section--blue-blend {
    background-image: linear-gradient(180deg, $mblue 0%, #1f5c87 100%);
  }

  .department-title {
    @include media("large") {
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  /* Header */
  &.nav-toggled {
    .main-header__nav {
      .nav__lists__trigger {
        &:hover {
          background-color: $mblue !important;
          &:after {
            border-color: $white;
          }
        }
      }
    }
  }

  .main-header {
    box-shadow: 0 rem(3) rem(17) rgba($black, 0.2);
  }

  .main-header__bottom {
    background-color: $white;
  }

  .main-header__dept {
    &::after {
      background-color: $mblue;
    }

    a {
      @extend %serif-regular;
      color: $mblue;
      font-weight: 700;
    }
  }
  .show-menu-mobile.main-header__nav nav ul li > .nav__lists__container > a,
  .show-menu-mobile.main-header__nav nav ul li a,
  .show-menu-mobile.no-display-menu-mobile.main-header__nav nav ul li > .nav__lists__container > a,
  .show-menu-mobile.no-display-menu-mobile.main-header__nav nav ul li a {
    color: white;
  }
  .main-header__nav nav ul li > .nav__lists__container > a,
  .main-header__nav nav ul li a,
  .no-display-menu-mobile.main-header__nav nav ul li > .nav__lists__container > a,
  .no-display-menu-mobile.main-header__nav nav ul li a{
    color: white;
  }
  .display-menu-mobile.nav-toggled .main-header__nav > ul > li:hover > .nav__lists__container a {
    @media screen and (min-width: 1250px) {
      background-color: $red !important;
    }
  }

  .main-header__nav,
  .no-display-menu-mobile.main-header__nav {
    nav {
      ul {
        li {
          > .nav__lists__container > a,
          a {
            @extend %serif-regular;
            @media (min-width: $silc-nav--options--expands) {
              font-size: rem(16);
            }

            @media (min-width: 1250px) {
              color: $mblue;
            }
          }
        }
      }

      > ul {
        > li {
          &:hover {
            > a,
            > .nav__lists__container > a {
              @media (min-width: $silc-nav--options--expands) {
                background-color: $navy;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
  .display-menu-mobile .main-header__nav nav > ul > li:hover > .nav__lists__container > a{
    @media (min-width: $silc-nav--options--expands) {
      background-color: $red;
      color: $white;
    }
  }
  .utility__menu {
    a {
      @extend %serif-regular;
      text-transform: none;

      &.utility__featured-link {
        @extend %serif-bold;
        line-height: (18 / 14);
        padding-top: rem(10);
        padding-bottom: rem(7);
      }
    }
  }

  .main-header__utility:not(.main-header__utility--mobile) {
    .utility__menu {
      a {
        font-size: rem(14);
        padding-top: rem(15);

        &.utility__featured-link {
          padding-top: rem(10);
        }
      }
    }
  }

  .main-header__utility--mobile {
    .utility__menu {
      a {
        letter-spacing: 0;
      }
    }
  }

  .utility__search-input {
    border: none;

    &:focus {
      border: none;
    }
  }

  /* Footer */
  .main-footer {
    ul {
      li {
        @extend %serif-regular;
      }
    }

    a {
      color: $navy;
    }
  }

  .main-footer__top {
    background-color: #f9f9f9;
    border-top: rem(5) solid #6a808c;

    .social-links__item {
      i {
        background-color: $navy;
        color: $white;
      }

      &:hover {
        i {
          background-color: $yellow;
          color: $mblue;
        }
      }
    }
  }

  .site__address {
    @extend %serif-regular;
    color: $navy;
    font-size: rem(16);
    line-height: (26 / 16);
  }

  .main-footer__title {
    text-transform: none;
  }

  .main-footer__bottom {
    text-align: left;
  }

  /* Breadcrumbs */

  .breadcrumb {
    padding-bottom: rem(10);
  }

  .breadcrumb__item {
    @extend %serif-regular;

    &.breadcrumb__item--active {
      @extend %serif-bold;
    }

    a {
      text-decoration: underline;
    }

    &::after {
      color: #5f6062;
      margin-top: rem(-4);
    }
  }

  /* Sidebar Nav */

  .sidebar-nav {
    background-color: #f9f9f9;
    border: rem(2) solid #e9e9e9;
    margin: rem(-8) 0 rem(28);

    @media (min-width: $silc-nav--options--expands) {
      background-color: transparent;
      border: none;
    }

    .silc-offcanvas {
      background-color: #f9f9f9;
    }

    .silc-nav__items {
      .silc-nav__items {
        border-bottom: rem(1) solid $gray4;
        .silc-nav__link {
          @extend %serif-regular;
          background-color: $gray;

          &:hover {
            background-color: $navy;
            color: $white;
          }
        }
      }
    }

    .silc-nav__link {
      @extend %serif-regular;
      background-color: transparent;
      color: $mblue;
      font-size: rem(15);

      &:hover {
        background-color: $navy;
        color: $white;
      }

      &.is-active {
        @extend %serif-bold;
      }
    }

    .sidebar-nav__parent {
      @extend %serif-bold;
      background-color: transparent;
      border-top: rem(1) solid $gray4;
      color: $mblue;
      font-size: rem(17);
      padding-left: rem(30) !important;

      &:hover {
        &::before {
          color: $white;
        }
      }

      &::before {
        background-color: transparent;
        color: $mblue;
        font-size: rem(16);
        height: rem(26);
        width: rem(26);
        top: rem(6);
        left: 0;
      }
    }
  }

  /* Alerts Feed */

  .alerts-feed-wrapper {
    margin-bottom: rem(60);
  }

  /* Sidebar */

  .contact-box {
    background-color: #f9f9f9;
    border: rem(2) solid #e9e9e9;
    box-shadow: none;
    color: $mblue;
    padding: rem(20);

    p,
    span {
      @extend %serif-regular;
    }

    p {
      margin: 0 0 rem(12);

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $red;
      text-decoration: underline;
      transition: 0.3s color ease-in-out;

      &:hover,
      &:focus {
        color: $navy;
      }
    }
  }

  .sidebar-title {
    @extend %serif-italic-bold;
    color: $mblue;
    font-size: rem(18);
    letter-spacing: normal;
    margin-bottom: rem(14);
    text-transform: none;
  }

  /* Block Header */

  .block-header {
    background-color: transparent;
    border-bottom: rem(2) solid $mblue;
    padding-bottom: rem(13);
    min-height: 0;

    @include media("medium") {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }

    h2,
    .h2 {
      @extend %serif-italic;
      font-size: rem(20);
      letter-spacing: normal;
      margin: 0;
      padding: 0 !important;
      text-transform: none;

      @include media("large") {
        font-size: rem(26);
      }
    }
  }

  .block-header__title {
    margin: rem(4) rem(24) 0 0;
    padding: 0 0 0 rem(30);
    position: relative;

    @include media("medium") {
      padding-left: rem(48);
      float: left;
    }
    h2,
    .h2 {
      font-size: rem(26) !important;
      letter-spacing: 0;
      padding-left: rem(8) !important;
      @include media("medium") {
        padding-left: 0 !important;
      }
    }
  }

  .block-header__icon {
    color: $red;
    top: rem(3);
    left: 0;
    font-size: rem(24);
    @include media("medium") {
      font-size: rem(33);
      top: 0;
    }
  }

  .block-header__btn {
    background-color: transparent;
    float: left;
    margin-top: rem(6);
    padding: 0 0 0 rem(20);
    position: relative;

    @include media("medium") {
      padding-left: rem(24);
    }

    .fancy-link {
      font-size: rem(16);
      padding: 0 0 rem(13) 0;
      position: relative;
      margin-top: rem(16);
      @include media("medium") {
        padding: 0;
        margin-top: 0;
      }

      &:before {
        @include media("medium") {
          content: "";
          border: 2px solid $red;
          display: block;
          position: absolute;
          top: rem(0);
          bottom: rem(4);
          left: rem(-24);
        }
      }

      span,
      .icon-arrow-right::before {
        color: $mblue;
      }

      span {
        transition: 0.3s color ease-in-out;
      }

      &:hover {
        span {
          color: $lightblue;
        }
      }
    }
  }

  /* Featured Article */

  .hp-featured-article {
    .section-content {
      background-color: $gray5;
      border: rem(2) solid #e9e9e9;

      .block-header {
        border-bottom: 0;
        margin-bottom: 0;
        padding: rem(32) rem(34) rem(32);

        @include media("medium") {
          padding: rem(30) rem(50) rem(32);
        }
      }

      .block-header__title {
        padding-bottom: 0;
      }
    }

    .section-content__block {
      padding: 0 rem(34) rem(34);

      @include media("medium") {
        padding: 0 rem(50) rem(50);
      }
    }

    .section-content__img {
      margin-bottom: rem(24);

      @include media("large") {
        margin-bottom: 0;
      }
    }

    .fancy-link {
      margin-bottom: 0;
    }
  }

  /* News and Events Block */

  .news-and-events--department {
    .news-and-events__block {
      &:not(.news-and-events__block_feat_4up) {
        background-color: transparent;
        border: rem(2) solid transparent;
        border-bottom: rem(2) solid #e9e9e9;
        border-radius: 0;
        transition: 0.3s border ease-in-out, 0.3s color ease-in-out,
          0.3s border-radius ease-in-out, 0.3s background-color ease-in-out,
          0.3s box-shadow ease-in-out;

        &:hover,
        &:focus {
          background-color: $gray5;
          border: rem(2) solid $lightblue;
          border-radius: rem(4);
          box-shadow: rem(1) rem(13) rem(17) rem(-8) rgba($black, 0.2);

          .news-and-events__date,
          .news-and-events__title,
          .news-and-events__time {
            color: $lightblue;
          }
        }
      }
    }
  }

  .news-and-events__block {
    background-color: $gray5;
    border-radius: rem(4);
    border: rem(2) solid #e9e9e9;
    padding: rem(20);
  }

  a.news-and-events__block {
    transition: 0.3s border ease-in-out, 0.3s color ease-in-out,
      0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;

    span,
    p,
    .news-and-events__title {
      transition: 0.3s color ease-in-out;
    }

    &:hover,
    &:focus {
      background-color: $gray5;
      border: rem(2) solid $lightblue;
      box-shadow: rem(1) rem(13) rem(17) rem(-8) rgba($black, 0.2);

      span,
      p,
      .news-and-events__title {
        color: $lightblue;
      }
    }
  }

  .news-and-events__block_feat_4up {
    @include media("medium") {
      padding: 0;
    }

    .news-and-events__img {
      height: 100%;
    }

    .news-and-events__title {
      @include media("medium") {
        font-size: rem(28);
      }
    }

    .news-and-events__main {
      background-color: transparent;
    }
  }

  .news-and-events__img {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;

    @include media("medium") {
      margin-bottom: rem(20);
    }
  }

  .news-and-events__desc {
    padding: 0;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .news-and-events__date,
  .news-and-events__time {
    @extend %serif-regular;
  }

  .news-and-events__date {
    font-size: rem(13);
    margin-bottom: rem(12);

    @include media("medium") {
      font-size: rem(14);
    }
  }

  .news-and-events__title {
    @extend %h3;
    color: $navy;
    font-size: rem(21);

    @include media("small") {
      margin-top: rem(8);
    }

    @include media("medium") {
      margin-top: 0;
    }
  }

  .news-and-events__btn {
    .btn {
      width: 100% !important;
    }
  }

  /* Promotional Space */

  .promotional-space {
    background-color: $gray5;
    border: rem(2) solid #e9e9e9;
    padding: rem(32);

    @include media("medium") {
      padding: rem(50);
    }

    h2 {
      @extend %serif-italic;
      font-size: rem(26) !important;

      @include media("medium") {
        font-size: rem(36) !important;
      }
    }

    > .silc-grid {
      > .silc-grid__col {
        &:nth-child(2) {
          @include media("medium") {
            padding-left: rem(50);
          }
        }
      }
    }

    .section-content__img {
      margin-bottom: 0;
    }
  }

  /* Announcements/Cards */

  .announcements__block {
    background: $gray5;
    border: rem(2) solid #e9e9e9;
    height: 100%;
    padding: rem(24);

    .fancy-link {
      margin-bottom: 0;
    }

    .body-text--date {
      @extend %serif-bold;
      font-size: rem(13);
      margin-bottom: rem(12);
      letter-spacing: normal;
      text-transform: none;

      @include media("medium") {
        font-size: rem(16);
      }
    }
  }

  .announcements__block--featured {
    margin-bottom: 0;
    position: relative;

    &::before {
      content: "";
      background-color: $red;
      display: block;
      position: absolute;
      top: rem(-2);
      bottom: rem(-2);
      left: rem(-2);
      width: rem(3);
    }

    .announcements__title {
      @extend %h3;
      font-weight: 700;
    }
  }

  .announcements__title {
    @extend %serif-bold;
    font-size: rem(18);
    line-height: rem(24);
    margin-bottom: rem(8);
  }

  /* Announcements */

  .announcements__block {
    background: $gray5;
    border: rem(2) solid #e9e9e9;
    height: 100%;

    .body-text--date {
      @extend %serif-bold;
      font-size: rem(13);
      margin-bottom: rem(12);
      letter-spacing: normal;
      text-transform: none;
      @include media("medium") {
        font-size: rem(16);
      }
    }

    .fancy-link {
      margin-bottom: 0;
    }
  }

  .announcements__block--featured {
    margin-bottom: 0;
    position: relative;

    &::before {
      content: "";
      background-color: $red;
      display: block;
      position: absolute;
      top: rem(-2);
      bottom: rem(-2);
      left: rem(-2);
      width: rem(3);
    }

    .announcements__title {
      @extend %h3;
      font-weight: 700;
    }
  }

  /* Accordions */

  &.js .silc-accordion--become-tabs.silc-accordion {
    .silc-accordion__nav {
      position: relative;
      z-index: 1;
    }

    .silc-accordion__nav-item {
      &:not(:first-child) {
        margin-left: rem(-2);
      }
    }

    .silc-accordion__nav-link {
      @extend %serif-regular;
      border-top: none;
      box-shadow: inset rem(2) 0 0 0 #e9e9e9, inset 0 rem(2) 0 0 #e9e9e9,
        inset rem(-2) 0 0 0 #e9e9e9;
      font-size: rem(14);
      font-weight: 400;
      letter-spacing: normal;
      line-height: (29 / 18);
      transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;

      @include media("medium") {
        font-size: rem(18);
        padding: rem(24) rem(24) rem(15);
      }

      &:hover,
      &:focus {
        background-color: $gray5;
        color: $mblue;
        box-shadow: inset 0 rem(2) 0 0 $red, inset rem(2) 0 0 0 #e9e9e9,
          inset rem(-2) 0 0 0 #e9e9e9;
      }
    }

    .silc-accordion__nav-link--active {
      box-shadow: inset 0 rem(2) 0 0 $red, inset rem(2) 0 0 0 #e9e9e9,
        inset rem(-2) 0 0 0 #e9e9e9;
      background-color: $gray5;
      position: relative;

      &::after {
        content: "";
        background-color: $gray5;
        display: block;
        position: absolute;
        left: rem(2);
        bottom: rem(-2);
        right: rem(2);
        height: rem(2);
      }
    }

    .silc-accordion__content {
      @include media("medium") {
        box-shadow: inset rem(2) 0 0 #e9e9e9, inset 0 rem(2) 0 0 #e9e9e9,
          inset rem(-2) 0 0 0 #e9e9e9, inset 0 rem(-2) 0 0 #e9e9e9;
        padding-top: rem(40);
        margin-top: 0;
      }

      &::before {
        @include media("medium") {
          display: none;
        }
      }
    }
  }

  .silc-accordion__label.silc-accordion__label {
    @extend %h4;
    background-color: $gray5;
    border: none;
    box-shadow: inset rem(2) 0 0 #e9e9e9, inset 0 rem(2) 0 0 #e9e9e9,
      inset rem(-2) 0 0 0 #e9e9e9, inset 0 rem(-2) 0 0 #e9e9e9;
    font-size: rem(14);
    font-weight: 400;
    letter-spacing: normal;
    line-height: (29 / 18);
    padding-bottom: rem(15) !important;
    transition: 0.3s background-color ease-in-out;

    @include media("medium") {
      font-size: rem(18);
    }

    &:hover {
      background-color: #e8ebed;
    }

    &::before,
    &::after {
      content: "";
      background-color: $mblue;
      display: block;
      height: rem(2);
      width: rem(15);
      position: absolute;
      top: rem(32);
      left: rem(25);
    }

    &::before {
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  .silc-accordion__label.silc-accordion__label--active {
    box-shadow: inset rem(2) 0 0 $mblue, inset 0 rem(2) 0 0 $mblue,
      inset rem(-2) 0 0 0 $mblue, inset 0 rem(-2) 0 0 $mblue;
    border-left: none;

    &::after {
      display: none;
    }
  }

    /* Table */
    table {
        @extend %serif-regular;
        @include media('table-max') {
            border-bottom: rem(2) solid #E9E9E9 !important;
        }
      }
  .silc-accordion__content {
    background-color: $gray5;
    box-shadow: inset rem(2) 0 0 $mblue, inset 0 rem(2) 0 0 $mblue,
      inset rem(-2) 0 0 0 $mblue, inset 0 rem(-2) 0 0 $mblue;
    font-family: inherit;
    font-size: inherit;
    margin-top: rem(-2);
    padding: 0 rem(28) rem(10);
    position: relative;
    @include media("medium") {
      padding: 0 rem(50) rem(24);
    }

    &::before {
      content: "";
      background-color: $gray5;
      height: rem(2);
      position: absolute;
      top: 0;
      left: rem(2);
      right: rem(2);
    }
  }

  /* Testimonial */

  .alumni-profile {
    background-color: $gray5;
    border: rem(2) solid #e9e9e9;
    border-radius: 0;
    padding: rem(15);

    @include media("medium") {
      padding: rem(50);
    }
  }

  .alumni-profile__img {
    margin: 0 auto;
    max-width: rem(310);
    min-height: rem(292) !important;

    @include media("medium") {
      height: auto;
      max-width: none;
    }

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &:after {
      top: 0;
    }
  }

  .alumni-profile__caption {
    text-align: center;

    h3 {
      @extend %serif-bold;
      color: $white;
      font-size: rem(22);
      margin-bottom: rem(3);
    }

    h4 {
      @extend %serif-regular;
      color: $white;
      font-size: rem(16);
      margin-bottom: 0;
      text-transform: none;
    }
  }

  .alumni-profile__quote {
    background-color: transparent;
    margin: 0 auto;
    max-width: rem(410);
    padding: rem(20) 0 0;

    @include media("medium") {
      max-width: none;
      padding: rem(20) rem(30) 0;
    }
  }

  blockquote {
    @extend %serif-italic;
    color: $skyblue;
    font-size: rem(18);
    line-height: (34 / 22);
    padding-left: rem(20);
    padding-top: rem(22);

    @include media("medium") {
      font-size: rem(22);
    }

    &::before {
      color: rgba($mblue, 0.05);
      font-size: rem(60);
      top: 0;
      left: 0;
    }

    p {
      font-size: inherit;
      line-height: inherit;
      position: relative;
    }
  }

  /* Table */
  table {
    @extend %serif-regular;

    thead,
    tbody {
      tr {
        &:nth-child(even) {
          td {
            background-color: $white;
          }
        }

        &:nth-child(odd) {
          td {
            background-color: $gray5;
          }
        }

        td,
        th {
          font-family: inherit !important;
          padding-top: rem(20);
        }

        td {
          border: rem(2) solid #e9e9e9 !important;
          border-top: none !important;
        }
      }
    }
  }

  /* Full-width Callout */

  .hp_facebook_feed + .hp_callout--standard,
  .hp_twitter_feed + .hp_callout--standard {
    margin-top: rem(-64);

    @include media("large") {
      margin-top: 0;
    }
  }

  section[aria-label="Callout"]:last-child {
    margin-bottom: rem(-64);
    @include media("large") {
      margin-bottom: rem(-14);
    }
  }

  .full-width-cta,
  .full-width-image-banner {
    margin: 0 auto rem(64);
    max-width: rem(1208);

    h2 {
      @extend %serif-italic;
      color: $white;
      font-weight: 400;
    }

    .btn {
      background-color: $white;
      color: $lightblue;
      border-color: $white;
    }
  }

  .full-width-cta {
    background-image: linear-gradient(180deg, #1f5c87 0%, $mblue 100%);
    max-width: rem(1208);

    .background {
      opacity: 0.2;
    }

    h2 {
      font-size: rem(45) !important;
      line-height: (50 / 45) !important;
      text-shadow: none;

      @include media("medium") {
        font-size: rem(90) !important;
        line-height: (109 / 90) !important;
      }

      &:before,
      &:after {
        background: rgba($white, 0.5);
      }
    }
  }

  .full-width-image-banner {
    @include media("large") {
      max-width: 90%;
    }

    &:after {
      background-image: linear-gradient(180deg, #1f5c87 0%, $mblue 100%);
      opacity: 0.8;
    }

    h2 {
      @extend %serif-italic;
    }
  }

  /* Facebook/Twitter Feed */
  section[aria-label="Twitter feed"]:last-child {
    @include media("large") {
      margin-bottom: 0;
    }
  }

  .hp_callout--standard + .hp_facebook_feed,
  .hp_callout--standard + .hp_twitter_feed {
    margin-top: rem(-64);

    @include media("large") {
      margin-top: 0;
    }
  }

  .kitchen-sink--main-col .hp_twitter_feed {
    @include media("large") {
      max-width: none;
    }
  }

  .facebook-twitter-feed {
    background-color: $lightblue;
    margin: 0 auto;
    max-width: rem(1250);

    .fancy-link {
      span,
      .icon-arrow-right::before {
        color: $white;
      }
    }

    > .compartment {
      @include media("medium") {
        position: relative;
      }

      > .silc-grid .silc-grid__col--11-medium {
        @include media("medium") {
          padding-left: rem(140);
          width: 100%;
        }
      }
    }

    .social-links__item {
      @include media("medium") {
        position: absolute;
        top: 0;
      }

      &:hover {
        i {
          background-color: $mustard;

          &::before {
            color: $mblue;
          }
        }
      }

      i {
        background-color: $mblue;
        height: rem(86);
        width: rem(86);
        position: relative;

        &::before {
          color: $white;
          font-size: rem(32);
          transition: 0.2s color ease-in-out;
        }

        span.visible-for-screen-readers {
          color: $white;
        }
      }
    }
  }

  .body-text--social-media {
    @extend %serif-italic;
    font-weight: 400;
  }

  /* Feeds */

  .faculty-profile {
    h4 {
      @extend %serif-italic;
    }
  }

  .faculty-profile__btn {
    background-color: $lightblue;

    .fancy-link {
      span,
      .icon-arrow-right::before {
        color: $white;
      }
    }
  }

  .faculty-profile__block {
    background-color: $gray5;
    border: rem(2) solid #e9e9e9;
    border-bottom: 0;
    border-radius: 0;
    height: 100%;

    h3 {
      font-size: rem(22);
      line-height: (28 / 22);
      font-weight: 700;
    }

    h4 {
      color: $mblue;
      font-size: rem(16);
      font-weight: 700;
      letter-spacing: normal;
      line-height: (21 / 16);
    }

    h5 {
      color: $navy;
      font-size: rem(15);
      line-height: (19 / 15);
    }
    .icon {
      position: relative;
      top: rem(3);
    }
  }

  .faculty-profile__divider {
    background-color: #e9e9e9;
    height: rem(2);
  }

  /* Forms */

  label {
    @extend %serif-bold;
    font-size: rem(15);
  }

  input,
  textarea,
  select {
    @extend %serif-regular;
    background-color: #fcfcfc;
    border: rem(2) solid #e9e9e9;

    &:focus,
    &:active {
      background-color: $white;
      border: rem(2) solid $mblue;
      box-shadow: none;
    }
  }

  span.fieldset-legend {
    background-color: #e9ecee;
    letter-spacing: normal;
    padding: rem(12) rem(16) rem(8);
    text-transform: none;

    &::before {
      display: none;
    }
  }

  .checkboxes--wrapper,
  .radios--wrapper {
    span.fieldset-legend {
      @extend %serif-bold;
      background-color: transparent;
      font-size: rem(15);
      margin-bottom: rem(8);
      padding: 0;
    }
  }

  /* Carousel */
  .slideshow__desc {
    background-color: #f9f9f9;
    border: 2px solid #e9e9e9;

    h2 {
      font-size: rem(20) !important;
      line-height: (24 / 20) !important;
      margin: 0 0 rem(10);
    }

    p {
      font-size: rem(15);
    }
  }

  .carousel .flickity-prev-next-button,
  .slideshow .flickity-prev-next-button {
    background-color: $mblue;

    &:hover,
    &:focus {
      background-color: $lightblue;

      &::after {
        color: $white;
      }
    }

    &::after {
      color: $white;
    }
  }


  /* Program Finder */

  .program-finder__nav-heading {
    border-bottom-color: #e9e9e9;
  }

  /* Campus Communications Widget */

  .campus-communications__header.block-header {
    background-color: $lightblue;
    box-shadow: none;
    border: none;
    color: $white;
    padding-bottom: 0;

    .campus-communications__header-title {
      color: inherit;
      padding: 0 rem(20) !important;
      margin-top: 3px;
    }
  }

  .campus-communications__body {
    background-color: $gray5;
    border-right: rem(2) solid #e9e9e9;
    border-bottom: rem(2) solid #e9e9e9;
    border-left: rem(2) solid #e9e9e9;
  }

  /* Video Embed */
  .video__wrap {
    border-left: rem(2) solid #e9e9e9;
    border-right: rem(2) solid #e9e9e9;
    border-top: rem(2) solid #e9e9e9;
  }
  .video__desc,
  .audio-file {
    background-color: #f9f9f9;
    border: rem(2) solid #e9e9e9;
    color: #111;

    .media-caption {
      color: inherit;
    }
  }
  .video__desc {
    border-top: none;
  }
}
