body.clean_light {
  background-color: $white;
  line-height: (26 / 16);

  /* Typography */

  .hp-html,
  .silc-accordion__content,
  .cke_editable_themed {
    h1,
    .h1,
    %h1,
    h2,
    .h2,
    %h2,
    h3,
    .h3,
    %h3,
    h4,
    .h4,
    %h4,
    h5,
    .h5,
    %h5,
    h6,
    .h6,
    %h6 {
      @include media("medium") {
        margin-top: rem(50);
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    h5 {
      text-transform: none;
      letter-spacing: 0;
      line-height: rem(24);
      font-size: rem(17);
      @include media("medium") {
        font-size: rem(16);
      }
    }
  }

  h2,
  .h2,
  %h2 {
    @extend %sans-extra-bold;

    &:not(.main-header__dept):not(.silc-accordion__label) {
      font-size: rem(28);
      letter-spacing: em(-0.3, 34);
      line-height: (44 / 34);

      @include media("medium") {
        font-size: rem(34);
      }
    }
  }

  h3,
  .h3,
  %h3 {
    @extend %sans-extra-bold;
    font-size: rem(22);
    font-weight: 800 !important;
    line-height: (33 / 24);
    letter-spacing: em(-0.2, 24);
    margin-bottom: rem(12);

    @include media("medium") {
      font-size: rem(24);
    }
  }

  h4,
  .h4,
  %h4 {
    @extend %sans-extra-bold;
    color: #275677;
    font-size: rem(19);
    letter-spacing: em(-0.2, 20);
    line-height: (28 / 20);
    text-transform: none;

    @include media("medium") {
      font-size: rem(20);
    }
  }

  h5,
  .h5,
  %h5 {
    @extend %sans-bold;
    color: #275677;
    font-size: rem(17);
    letter-spacing: normal;
    line-height: (24 / 17);
  }

  h6,
  .h6,
  %h6 {
    @extend %sans-regular;
    color: #275677;
    font-size: rem(15);
    font-weight: 600;
    line-height: (24 / 16);

    @include media("medium") {
      font-size: rem(16);
    }
  }

  .fancy-link {
    font-size: rem(16);

    &:hover {
      span {
        color: $mblue;
      }

      .icon-arrow-right {
        &::before {
          color: $mblue;
        }
      }
    }

    span {
      color: $lightblue;
      transition: 0.3s color ease-in-out;
    }

    .icon-arrow-right {
      background-color: $white;

      &::before {
        color: $lightblue;
        transition: 0.3s color ease-in-out;
      }
    }
  }

  .lead-in,
  .lead-in-large {
    @extend %sans-extra-bold;
  }

  .lead-in {
    font-size: rem(19);
    line-height: (33 / 24);
    letter-spacing: em(-0.2, 24);

    @include media("medium") {
      font-size: rem(24);
    }
  }

  .lead-in-large {
    font-size: rem(16);
    line-height: (32 / 18);
    margin-bottom: rem(12);

    @include media("medium") {
      font-size: rem(18);
      margin-bottom: rem(15);
    }
  }

  .body-text--small {
    font-size: rem(13);

    @include media("medium") {
      font-size: rem(15);
      line-height: (23 / 15);
    }
  }

  .header--page-intro.header--page-intro {
    font-size: rem(30) !important;
    margin-bottom: rem(12);
    text-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.3);

    @include media("medium") {
      font-size: rem(45) !important;
      margin-bottom: rem(20);
    }
  }

  /* Buttons */

  .btn,
  .webform-button--submit,
  .button .button--primary,
  .js-form-submit,
  .form-submit,
  .webform-button--reset,
  .js-webform-novalidate {
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;

    &:hover {
      background-color: $lightblue;
      color: $white;

      .icon-arrow-right {
        background-color: $lightblue;
      }
    }

    .icon-arrow-right {
      background-color: $yellow;
      transition: 0.3s background-color ease-in-out, 0.3s opacity ease-in-out,
        0.3s transform ease-in-out;

      &::before {
        color: $white;
      }
    }
  }

  /* Layout */

  .post-header {
    border-top: rem(10) solid $yellow;
    padding: rem(24) 0 rem(5);

    @include media("medium") {
      padding: rem(54) 0 rem(36);
    }
  }

  .post-header__title {
    font-size: rem(26);

    @include media("medium") {
      font-size: rem(40);
      line-height: (55 / 40);
    }
  }

  .kitchen-sink--main-col {
    @media (min-width: $silc-nav--options--expands) {
      padding-left: rem(40);
    }
  }

  /* Hero */

  .hero-image-home,
  .hero-video,
  .department-title {
    border-bottom: 10px solid $yellow;
    margin-bottom: rem(20);

    @include media("medium") {
      margin-bottom: rem(40);
    }
  }

  .section--blue-blend {
    background-color: #072a42;
    margin-top: 0;

    .background {
      mix-blend-mode: normal;
      -ms-filter: initial;
    }
  }

  /* Header */
  .main-header__bottom {
    background-color: $white;
  }
  .main-header__dept {
    &::after {
      background-color: $yellow;
    }

    a {
      @extend %sans-extra-bold;
      color: $mblue;
      font-weight: 700;
    }
  }
  .main-header__dept a,
  .main-header__nav nav ul li a,
  .no-display-menu-mobile.main-header__nav nav ul li a {
    color: white;
  }
  .main-header__dept a {
    color: $mblue;
  }
  .show-menu-mobile.main-header__nav nav ul li a {
    color: white;
  }

  .main-header__nav,
  .no-display-menu-mobile.main-header__nav {
    nav {
      ul {
        li {
          a {
            @extend %sans-extra-bold;
            @media (min-width: 1250px) {
              color: $mblue;
            }
          }
          li {
            a {
              @media (min-width: $silc-nav--options--expands) {
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }

  .utility__menu {
    a {
      font-weight: 600;
      letter-spacing: normal;
      text-transform: none;
    }
  }

  .main-header__utility:not(.main-header__utility--mobile) {
    .utility__menu {
      a {
        font-size: rem(13);
      }
    }
  }

  .main-header__utility--mobile {
    .utility__menu {
      a {
        letter-spacing: 0;
      }
    }
  }

  .utility__search-input {
    box-shadow: none;

    &:focus {
      box-shadow: none;
      border: none;
      padding-left: 0;
    }
  }

  /* Footer */

  .main-footer {
    address {
      font-size: rem(15);
      line-height: (24 / 15);
    }

    ul {
      li {
        @extend %sans-regular;
      }
    }
  }

  .main-footer__title {
    text-transform: none;
  }

  /* Breadcrumbs */

  .breadcrumb {
    padding-bottom: rem(10);
  }

  .breadcrumb__item {
    a {
      text-decoration: underline;
    }

    &::after {
      color: $yellow;
    }
  }

  /* Sidebar Nav */
  .sidebar-nav {
    margin: rem(-8) 0 rem(32);
    box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);

    border: rem(1) solid $gray4;
    border-radius: rem(4);

    @include media("medium") {
      margin-top: rem(-20);
      border: none;
      border-radius: 0;
    }

    @include media("large") {
      margin: 0;
    }

    .silc-nav__items {
      .silc-nav__items {
        .silc-nav__link {
          background-color: $gray;
          font-weight: 400;
        }
      }
    }

    .silc-nav__link {
      @extend %sans-regular;
      color: $mblue;

      &:hover {
        color: $black;
      }

      &.is-active {
        @extend %sans-extra-bold;
      }
    }

    .sidebar-nav__parent {
      @extend %sans-regular;
      color: $white;

      &:hover {
        color: $black;

        &::before {
          color: $black;
        }
      }

      &::before {
        background-color: transparent;
        color: $white;
        font-size: rem(16);
        height: rem(26);
        width: rem(26);
        top: rem(6);
      }
    }
  }

  /* Block Header */

  .section-content .block-header {
    padding-right: rem(20);
    padding-left: rem(20);

    @include media("medium") {
      padding-right: rem(30);
      padding-left: rem(30);
    }
  }

  .block-header {
    background-color: $white;
    border-top: rem(2) solid #d6e0e7;
    color: $mblue;

    @include media("medium") {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }

    &--slim {
      border-top: none;
      padding: 0;

      h2 {
        padding: 0 !important;
      }

      .block-header__icon {
        top: 0;
      }
    }

    .block-header__icon {
      color: $mustard;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .block-header__title {
      margin: rem(13) rem(24) 0 0;
      padding-left: rem(30);
      position: relative;

      @include media("medium") {
        float: left;
        margin-top: rem(28);
        padding-left: rem(48);
      }
      h2,
      .h2 {
        font-size: rem(16);
        letter-spacing: 1.8px;
        padding-left: rem(8);
        @include media("medium") {
          padding-right: 0 !important;
          padding-left: 0;
        }
      }
    }

    h2,
    .h2 {
      color: inherit;
      font-size: rem(16);
      letter-spacing: rem(1.5);
      line-height: (23 / 16);
      margin: 0;
      padding-right: rem(26) !important;
    }
  }

  .block-header__btn {
    background-color: transparent;
    float: left;
    margin: rem(16) 0 0;
    padding: 0 0 0 rem(20);
    position: relative;

    @include media("medium") {
      margin-top: rem(28);
      padding-left: rem(24);
    }

    .fancy-link {
      justify-content: flex-start;
      padding: 0;
      position: relative;

      &:before {
        @include media("medium") {
          content: "";
          border: 2px solid $mustard;
          display: block;
          position: absolute;
          top: rem(2);
          bottom: rem(2);
          left: rem(-24);
        }
      }

      span {
        color: $lightblue;
        transition: 0.3s color ease-in-out;
      }

      .icon-arrow-right {
        &::before {
          color: $mblue;
        }
      }

      &:hover {
        span {
          color: $mblue;
        }
      }
    }
  }

  /* Sidebar */

  .contact-box {
    border-top: 5px solid $yellow;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    box-shadow: rem(1) rem(13) rem(17) rem(-5) rgba($mblue, 0.2);

    p,
    span {
      @extend %sans-regular;
    }

    p {
      margin: 0 0 rem(12);

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      @extend %sans-bold;
      text-decoration: underline;
      transition: 0.2s color ease-in-out;

      &:hover {
        color: $mblue;
      }
    }
  }

  .sidebar-title {
    font-size: rem(17);
    margin-bottom: rem(14);
    text-transform: none;
  }

  /* Promotional Space */

  .promotional-space {
    border-top: none;
    border-left: rem(5) solid $yellow;
    box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);

    h2 {
      font-size: rem(26) !important;

      @include media("medium") {
        font-size: rem(36) !important;
      }
    }
  }

  /* Feature Article */

  .hp-featured-article {
    .section-content {
      border: rem(1) solid $gray4;
      border-radius: 0;
      box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);
    }
  }

  /* Cards */

  .news-and-events__block {
    box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);
    border: rem(1) solid $gray4;
    border-radius: rem(4);
    overflow: hidden;
  }

  a.news-and-events__block {
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: $lightblue;
      border: rem(1) solid #adadad;
      box-shadow: rem(1) rem(7) rem(29) rgba($mblue, 0.5);

      span,
      p,
      .news-and-events__title {
        color: $white;
      }

      .news-and-events__img {
        opacity: 0.85;
      }
    }

    span,
    p,
    .news-and-events__title {
      transition: 0.3s color ease-in-out;
    }

    p {
      margin: 0 0 rem(8) 0;
      @include media("small") {
        margin: 0;
      }
      @include media("medium") {
        margin: 0 0 rem(8) 0;
      }
    }

    .news-and-events__img {
      transition: 0.3s opacity ease-in-out;
    }
  }

  .news-and-events--department {
    .news-and-events__block {
      &:not(.news-and-events__block_feat_4up) {
        border: none;
        border-bottom: rem(2) solid #e9e9e9;
        border-radius: 0;
        box-shadow: none;

        &:hover,
        &:focus {
          background-color: $lightblue;
        }
      }
    }
  }

  .news-and-events__block_feat_4up {
    @include media("medium") {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    .news-and-events__date {
      margin-bottom: rem(12);
    }

    .news-and-events__title {
      @extend %sans-extra-bold;

      @include media("medium") {
        font-size: rem(28);
        line-height: (33 / 28);
      }
    }

    .btn {
      border-radius: 0;
      display: flex;
      width: 100%;
    }
  }

  .news-and-events__title {
    color: $navy;
    font-size: rem(20);
    line-height: (24 / 20);
    margin-top: rem(8);
  }

  .news-and-events__img {
    transition: 0.3s opacity ease-in-out;
  }

  .news-and-events__description {
    p {
      @include media("small") {
        margin-bottom: 0;
      }

      @include media("medium") {
        margin-bottom: rem(8);
      }
    }
  }

  .news-and-events__date {
    @extend %sans-regular;
    font-size: rem(14);
    font-weight: 600;
    letter-spacing: em(1.4, 14);
  }

  .announcements__title {
    color: $navy;
    font-size: rem(20);
  }

  /* Accordions */

  &.js .silc-accordion--become-tabs.silc-accordion {
    .silc-accordion__nav-link {
      border-top: none;
      font-size: rem(14);
      line-height: (28 / 18);
      transition: 0.3s color ease-in-out, 0.3s box-shadow ease-in-out;

      @include media("medium") {
        font-size: rem(18);
      }

      &:hover,
      &:focus {
        box-shadow: inset 0 rem(-3) 0 0 $mustard;
      }
    }

    .silc-accordion__nav-link--active {
      box-shadow: inset 0 rem(-3) 0 0 $navy;
    }

    .silc-accordion__content {
      @include media("medium") {
        box-shadow: inset rem(1) 0 0 $gray4, inset 0 rem(1) 0 0 $gray4,
          inset rem(-1) 0 0 0 $gray4, inset 0 rem(-1) 0 0 $gray4;
        padding-top: rem(30);
        margin-top: 0;
      }

      &::before {
        @include media("medium") {
          display: none;
        }
      }

      .silc-accordion__label {
        border-left: none;
      }
    }
  }

  .silc-accordion__section {
    box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);
  }

  .silc-accordion__header {
    .silc-accordion__label {
      box-shadow: inset rem(1) 0 0 $gray4, inset 0 rem(1) 0 0 $gray4,
        inset rem(-1) 0 0 0 $gray4, inset 0 rem(-1) 0 0 $gray4;
      border-left: none;
    }

    .silc-accordion__label--active {
      box-shadow: inset rem(3) 0 0 $navy, inset 0 rem(3) 0 0 $navy,
        inset rem(-3) 0 0 0 $navy, inset 0 rem(-3) 0 0 $navy;
      border-left: none;
    }

    &:hover {
      .silc-accordion__label,
      & + .silc-accordion__content {
        box-shadow: inset rem(3) 0 0 $mustard, inset 0 rem(3) 0 0 $mustard,
          inset rem(-3) 0 0 0 $mustard, inset 0 rem(-3) 0 0 $mustard;
        border-left: none;
      }
    }

    &:focus-within {
      .silc-accordion__label,
      & + .silc-accordion__content {
        box-shadow: inset rem(3) 0 0 $mustard, inset 0 rem(3) 0 0 $mustard,
          inset rem(-3) 0 0 0 $mustard, inset 0 rem(-3) 0 0 $mustard;
        border-left: none;
      }
    }
  }

  .silc-accordion__label.silc-accordion__label {
    border: none;
    color: $mblue;
    font-size: rem(14);
    letter-spacing: normal;
    line-height: (28 / 18);
    transition: 0.3s box-shadow ease-in-out;

    @include media("medium") {
      font-size: rem(18);
    }

    &::before,
    &::after {
      content: "";
      background-color: $mblue;
      display: block;
      height: rem(2);
      width: rem(15);
      position: absolute;
      top: rem(33);
      left: rem(25);
    }

    &::before {
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  .silc-accordion__label.silc-accordion__label--active {
    &::after {
      display: none;
    }
  }

  .silc-accordion__content {
    box-shadow: inset rem(3) 0 0 $navy, inset 0 rem(3) 0 0 $navy,
      inset rem(-3) 0 0 0 $navy, inset 0 rem(-3) 0 0 $navy;
    border-top: none;
    margin-top: rem(-3);
    padding-top: 0;
    position: relative;
    transition: 0.3s box-shadow ease-in-out;
    @include media("medium") {
      padding-bottom: rem(20);
    }

    &::before {
      content: "";
      background-color: $white;
      height: rem(3);
      position: absolute;
      top: 0;
      left: rem(3);
      right: rem(3);
    }
  }

  /* Tables */

  table {
    box-shadow: rem(1) rem(13) rem(17) rem(-5) rgba($mblue, 0.2);

    caption {
      margin-bottom: rem(15);
    }

    tr {
      &:nth-child(odd) {
        td {
          background-color: #f9f9f9;
        }
      }
      &:nth-child(even) {
        td {
          background-color: $white;
        }
      }
    }

    td {
      border-bottom: rem(2) solid #e9e9e9 !important;

      &:not(:first-child) {
        @include media("table") {
          border-left: rem(2) solid #e9e9e9;
        }
      }
    }
  }

  /* Full-width Callout */

  .full-width-cta {
    h2 {
      font-size: rem(35) !important;
      line-height: (41 / 34) !important;

      @include media("medium") {
        font-size: rem(70) !important;
      }
    }
  }

  /* Facebook/Twitter Feed */
  .facebook-twitter-feed {
    background-color: $skyblue;

    > .compartment {
      @include media("medium") {
        position: relative;
      }

      > .silc-grid .silc-grid__col--11-medium {
        @include media("medium") {
          padding-left: rem(140);
          width: 100%;
        }
      }
    }

    .fancy-link {
      span {
        color: $white;
      }

      .icon-arrow-right {
        background-color: transparent;

        &::before {
          color: $white;
        }
      }
    }

    .social-links__item {
      @include media("medium") {
        position: absolute;
        top: 0;
      }

      &:hover {
        i {
          background-color: $mustard;

          &::before {
            color: $mblue;
          }
        }
      }

      i {
        background-color: $mblue;
        height: rem(86);
        width: rem(86);
        position: relative;

        &::before {
          color: $white;
          font-size: rem(32);
          transition: 0.2s color ease-in-out;
        }

        span.visible-for-screen-readers {
          color: $white;
        }
      }
    }
  }

  .body-text--social-media {
    @extend %serif-italic;
  }

  /* Announcements */

  .announcements {
    .body-text--date {
      @extend %sans-regular;
      font-size: rem(14);
      font-weight: 600;
      letter-spacing: em(1.4, 14);
    }
  }

  .announcements__block {
    border: rem(1) solid $gray4;
    box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);
    height: 100%;
    padding: rem(24);
    .fancy-link {
      margin-bottom: 0;
    }
  }

  .announcements__block--featured {
    border-left: rem(4) solid $mustard;

    .announcements__title {
      font-size: rem(24);
    }
  }

  /* Testimonial */

  .alumni-profile {
    border: rem(1) solid $gray4;
    border-radius: 0;
    box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);
    padding: rem(30);
  }

  .alumni-profile__img {
    margin: 0 auto;
    max-width: rem(310);
    min-height: rem(292) !important;

    @include media("medium") {
      height: auto;
      max-width: none;
    }

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &:after {
      top: 0;
    }
  }

  .alumni-profile__caption {
    h3 {
      color: $white;
      font-size: rem(20);
      line-height: (27 / 20);
      margin-bottom: rem(3);

      @include media("medium") {
        margin-bottom: rem(8);
      }
    }

    h4 {
      @extend %sans-bold;
      color: $white;
      font-size: rem(16);
      margin-bottom: 0;
      text-transform: none;

      @include media("medium") {
        font-weight: 600;
      }
    }
  }

  .alumni-profile__quote {
    margin: 0 auto;
    max-width: rem(410);
    padding: rem(20) 0 0;

    @include media("medium") {
      max-width: none;
      padding: rem(20) rem(30) 0;
    }
  }

  blockquote {
    @extend %sans-bold;
    font-size: rem(18);
    line-height: (32 / 18);
    padding-left: rem(44);

    @include media("medium") {
      font-size: rem(20);
      line-height: (33 / 20);
      padding-left: rem(70);
    }

    &::before {
      color: $mustard;
      font-size: rem(24);
      left: rem(16);
      transform: translateX(-50%);

      @include media("medium") {
        font-size: rem(30);
        left: rem(35);
      }
    }

    p {
      font-size: inherit;
      line-height: inherit;
    }
  }

  /* Carousels */

  .slideshow {
    box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);
  }

  .slideshow__desc {
    h2 {
      font-size: rem(20) !important;
      line-height: (24 / 20) !important;
      margin: rem(8) 0 rem(12);
      @include media("medium") {
        font-size: rem(20) !important;
        line-height: (24 / 20) !important;
      }
    }

    p {
      font-size: rem(15);
    }
  }

  .carousel .flickity-prev-next-button,
  .slideshow .flickity-prev-next-button {
    background-color: $mblue;

    &:hover,
    &:focus {
      background-color: $lightblue;

      &::after {
        color: $white;
      }
    }

    &::after {
      color: $white;
    }
  }

  /* Video Embed */

  .video__wrap {
    border-left: rem(1) solid $gray4;
    border-right: rem(1) solid $gray4;
    border-top: rem(1) solid $gray4;
    border-radius: 0;
    box-shadow: 0.0625rem -0.625rem 1.4375rem rgba($mblue, 0.2);
  }
  .video__desc {
    background-color: $white;
    box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);
    z-index: 0;
    position: relative;
    border-bottom: rem(1) solid $gray4;
    border-left: rem(1) solid $gray4;
    border-right: rem(1) solid $gray4;
  }

  /* Audio Embed */

  .audio-file {
    border: rem(1) solid $gray4;
    border-radius: 0;
    box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);
    color: $black;
  }

  /* External Feeds */

  .faculty-profile {
    box-shadow: rem(1) rem(7) rem(23) rgba($mblue, 0.2);

    .icon {
      &::before {
        color: #6a808c;
      }
    }
  }

  .faculty-profile__block {
    h3,
    h4,
    h5 {
      color: $navy;
    }

    h3 {
      font-size: rem(20);
      line-height: (25 / 20);
      @include media("medium") {
        font-size: rem(20);
      }
    }

    h4 {
      font-size: rem(15);
      font-weight: 700;
      line-height: (20 / 15);
      text-transform: none;
    }

    h5 {
      @extend %sans-regular;
      font-size: rem(15);
      line-height: (20 / 15);
    }
  }

  .faculty-profile__divider {
    background-color: #e9e9e9;
  }

  .faculty-profile__link {
    @extend %sans-regular;
    font-size: rem(15);
  }

  .faculty-profile__btn {
    .fancy-link {
      span {
        color: $mblue;
      }

      .icon-arrow-right {
        background-color: transparent;

        &::before {
          color: $mblue;
        }
      }
    }
  }

  /* Forms */

  input,
  textarea,
  select {
    box-shadow: inset rem(1) 0 0 $gray4, inset 0 rem(1) 0 0 $gray4,
      inset rem(-1) 0 0 0 $gray4, inset 0 rem(-1) 0 0 $gray4,
      rem(1) rem(1) rem(8) rgba($mblue, 0.2);
    transition: 0.2s box-shadow ease-in-out;

    &:focus,
    &:active {
      border: none;
      box-shadow: inset rem(2) 0 0 $navy, inset 0 rem(2) 0 0 $navy,
        inset rem(-2) 0 0 0 $navy, inset 0 rem(-2) 0 0 $navy,
        rem(1) rem(1) rem(8) rgba($mblue, 0.2);
      padding-left: rem(15);
    }

    &[type="submit"],
    &[type="radio"],
    &[type="checkbox"] {
      box-shadow: none;
    }
  }

  span.fieldset-legend {
    @extend %sans-bold;
    background-color: #d6e0e7;
    font-size: rem(15);
    padding: rem(10) rem(15);
    &:before {
      display: none;
    }
  }

  .checkboxes--wrapper,
  .radios--wrapper {
    span.fieldset-legend {
      background-color: transparent;
      margin: 0;
      padding: 0;
    }
  }

  /* Campus Communications Widget */

  .campus-communications__header.block-header {
    background-color: $lightblue;
    border-top: none;
    color: $white;
    padding-top: 0;
  }

  .campus-communications__body {
    border-right: rem(2) solid #e9e9e9;
    border-bottom: rem(2) solid #e9e9e9;
    border-left: rem(2) solid #e9e9e9;
    box-shadow: rem(1) rem(7) rem(23) rgba(0, 42, 71, 0.2);
  }
}
