
body.clean_light {
    background-color: $white;
    line-height: (26 / 16);

    /* Typography */

    h2, .h2, %h2 {
        @extend %sans-extra-bold;
        font-size: rem(34);
        letter-spacing: em(-.3, 34);
        line-height: (44 / 34);
    }
    h3, .h3, %h3 {
        @extend %sans-extra-bold;
        letter-spacing: em(-.2, 24);
        margin-bottom: rem(12);
    }
    h4, .h4, %h4 {
        @extend %sans-extra-bold;
        color: #275677;
        letter-spacing: em(-.2, 20);
    }
    h5, .h5, %h5 {
        @extend %sans-bold;
        color: #275677;
        font-size: rem(17);
        line-height: (20 / 17);
    }
    h6, .h6, %h6 {
        @extend %sans-regular;
        color: #275677;
        font-size: rem(16);
        line-height: (20 / 16);
    }
    .fancy-link {
        font-size: rem(16);
        &:hover {
            span {
                color: $mblue;
            }
            .icon-arrow-right {
                &::before {
                    color: $mblue;
                }
            }
        }
        span {
            color: $lightblue;
            transition: .3s color ease-in-out;
        }
        .icon-arrow-right {
            background-color: $white;
            &::before {
                color: $lightblue;
                transition: .3s color ease-in-out;
            }
        }
    }
    .lead-in,
    .lead-in-large {
        @extend %sans-extra-bold;
    }
    .lead-in {
        font-size: rem(24);
        letter-spacing: em(-.2, 24);
    }
    .lead-in-large {
        font-size: rem(18);
        line-height: 1.75;
    }
    .body-text--small {
        font-size: rem(13);
        @include media('medium') {
            font-size: rem(15);
            line-height: (23 / 15);
        }
    }

    /* Buttons */
    
    .btn,
    .webform-button--submit,
    .button .button--primary,
    .js-form-submit,
    .form-submit,
    .webform-button--reset,
    .js-webform-novalidate {
        transition: .3s background-color ease-in-out,
        .3s color ease-in-out;
        &:hover {
            background-color: $lightblue;
            color: $white;
            .icon-arrow-right {
                background-color: $lightblue;
            }
        }
        .icon-arrow-right {
            background-color: $yellow;
            transition: .3s background-color ease-in-out,
            .3s opacity ease-in-out,
            .3s transform ease-in-out;
            &::before {
                color: $white;
            }
        }
    }

    /* Layout */

    .post-header {
        border-top: rem(10) solid $yellow;
        padding: rem(24) 0 rem(5);
        @include media("medium") {
            padding: rem(54) 0 rem(36);
        }
    }

    .post-header__title {
        font-size: rem(26);
        @include media("medium") {
            font-size: rem(40);
            line-height: (55 / 40);
        }
    }

    .kitchen-sink--main-col {
        @media(min-width: $silc-nav--options--expands) {
            padding-left: rem(40);
        }
    }

    /* Header */

    .main-header__bottom {
        background-color: $white;
    }
    .main-header__dept {
        &::after {
            background-color: $yellow;
        }
        a {
            @extend %sans-extra-bold;
            color: $mblue;
            font-size: rem(24);
        }
    }
    .main-header__nav {
        nav {
            ul {
                li {
                    a {
                        @extend %sans-extra-bold;
                        @media(min-width: $silc-nav--options--expands) {
                            color: $mblue;
                            padding-bottom: rem(23);
                        }
                    }
                    li {
                        a {
                            @media(min-width: $silc-nav--options--expands) {
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    .utility__search-input {
        box-shadow: none;
        &:focus {
            box-shadow: none;
            border: none;
            padding-left: 0;
        }
    }

    /* Footer */

    .main-footer {
        address {
            font-size: rem(15);
            line-height: (24 / 15);
        }
        ul {
            li {
                @extend %sans-regular;
            }
        }
    }

    .main-footer__title {
        text-transform: none;
    }

    /* Breadcrumbs */

    .breadcrumb {
        padding-bottom: rem(10);
    }

    .breadcrumb__item {
        a {
            text-decoration: underline;
        }
        &::after {
            color: $yellow;
        }
    }

    /* Sidebar Nav */

    .sidebar-nav {
        margin: rem(-8) 0 rem(32);
        @media(min-width: $silc-nav--options--expands) {
            margin: 0;
        }
        .silc-nav {
            box-shadow: rem(16) rem(7) rem(23) rgba($mblue, 0.2);
            @include media('large') {
                box-shadow: none;
            }
        }
        .silc-nav__items {
            .silc-nav__items {
                .silc-nav__link {
                    background-color: $gray;
                    font-weight: 400;
                }
            }
        }
        .silc-nav__link {
            @extend %sans-regular;
            color: $mblue;
            &:hover {
                color: $black;
            }
            &.is-active {
                @extend %sans-extra-bold;
            }
        }
        .sidebar-nav__parent {
            @extend %sans-regular;
            color: $white;
            &:hover {
                color: $black;
                &::before {
                    color: $black;
                }
            }
            &::before {
                background-color: transparent;
                color: $white;
                font-size: rem(16);
                height: rem(26);
                width: rem(26);
                top: rem(6);
            }
        }
    }

    /* Block Header */

    .block-header {
        background-color: $white;
        border-top: rem(2) solid #D6E0E7;
        color: $mblue;
        &--slim {
            border-top: none;
            padding: rem(30) 0 0 rem(30);
            h2 {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }
            .block-header__icon {
                top: 0;
            }
        }
        .block-header__icon {
            color: $mustard;
        }
        h2 {
            color: inherit;
            font-size: rem(16);
            letter-spacing: rem(1.5);
            line-height: (28 / 16);
        }
    }
    .block-header__btn {
        background-color: $mblue;
        .fancy-link {
            transition: .3s background-color ease-in-out;
            &:hover {
                background-color: $lightblue;
            }
            span {
                color: $white;
            }
            .icon-arrow-right {
                &::before {
                    color: $mblue;
                }
            }
        }
    }

    /* Sidebar */

    .contact-box {
        border-top-color: $yellow;
        box-shadow: rem(1) rem(13) rem(17) rem(-5) rgba($mblue, .2);
        p, span {
            @extend %sans-regular;
        }
        p {
            margin: 0 0 rem(12);
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            @extend %sans-bold;
            text-decoration: underline;
        }
    }

    .sidebar-title {
        text-transform: none;
        margin-bottom: rem(14);
    }

    /* Promotional Space */

    .promotional-space {
        border-top: none;
        border-left: rem(5) solid $yellow;
        box-shadow: rem(1) rem(7) rem(23) rgba($mblue, .2);
    }

    /* Feature Article */

    .hp-featured-article {
      .section-content {
          border: rem(1) solid $gray4;
          border-radius: 0;
          box-shadow: rem(1) rem(7) rem(23) rgba($mblue, .2);
      }
    }

    /* Cards */

    .news-and-events__block {
        box-shadow: rem(1) rem(7) rem(23) rgba($mblue, .2);
        border: rem(1) solid $gray4;
        border-radius: rem(4);
        overflow: hidden;
    }

    a.news-and-events__block {
        transition: background .3s ease-in-out,
        border-color .3s ease-in-out,
        box-shadow .3s ease-in-out;
        &:hover,
        &:focus {
            background-color: $lightblue;
            border: rem(1) solid #adadad;
            box-shadow: rem(1) rem(7) rem(29) rgba($mblue, .5);
            span,
            p,
            .news-and-events__title {
                color: $white;
            }
            .news-and-events__img {
                opacity: .85;
            }
        }
        span,
        p,
        .news-and-events__title {
            transition: .3s color ease-in-out;
        }
        .news-and-events__img {
            transition: .3s opacity ease-in-out;
        }
    }

    .news-and-events--department {
        .news-and-events__block {
            &:not(.news-and-events__block_feat_4up) {
                border: none;
                border-bottom: rem(2) solid #E9E9E9;
                border-radius: 0;
                box-shadow: none;
                &:hover,
                &:focus {
                    background-color: $lightblue;
                }
            }
        }
    }
    .news-and-events__block_feat_4up {
        border: none;
        border-radius: 0;
        box-shadow: none;
        .btn {
            border-radius: 0;
            display: flex;
            width: 100%;
        }
    }
    .news-and-events__title {
        color: $navy;
        font-size: rem(20);
        line-height: (24 / 20);
        margin-top: rem(8);
    }
    .news-and-events__img {
        transition: .3s opacity ease-in-out;
    }
    .news-and-events__date {
        @extend %sans-regular;
    }
    .announcements__title {
        color: $navy;
        font-size: rem(20);
    }

    /* Accordions */

    &.js .silc-accordion--become-tabs.silc-accordion {
        .silc-accordion__nav-link {
            border-top: none;
            transition: .3s color ease-in-out,
            .3s box-shadow ease-in-out;
            &:hover,
            &:focus {
                box-shadow: inset 0 rem(-3) 0 0 $mustard;
            }
        }
        .silc-accordion__nav-link--active {
            box-shadow: inset 0 rem(-3) 0 0 $navy;
        }
        .silc-accordion__content {
            box-shadow: inset rem(1) 0 0 $gray4,
            inset 0 rem(1) 0 0 $gray4,
            inset rem(-1) 0 0 0 $gray4,
            inset 0 rem(-1) 0 0 $gray4;
            padding-top: rem(30);
            margin-top: 0;
            &::before {
                display: none;
            }
        }
    }
    .silc-accordion__section {
        box-shadow: rem(1) rem(7) rem(23) rgba($mblue, .2);
    }
    .silc-accordion__header {
        .silc-accordion__label {
            box-shadow: inset rem(1) 0 0 $gray4,
            inset 0 rem(1) 0 0 $gray4,
            inset rem(-1) 0 0 0 $gray4,
            inset 0 rem(-1) 0 0 $gray4;
        }
        .silc-accordion__label--active {
            box-shadow: inset rem(3) 0 0 $navy,
            inset 0 rem(3) 0 0 $navy,
            inset rem(-3) 0 0 0 $navy,
            inset 0 rem(-3) 0 0 $navy;
        }
        &:hover {
            .silc-accordion__label,
            & + .silc-accordion__content {
                box-shadow: inset rem(3) 0 0 $mustard,
                inset 0 rem(3) 0 0 $mustard,
                inset rem(-3) 0 0 0 $mustard,
                inset 0 rem(-3) 0 0 $mustard;
            }
        }
        &:focus-within {
            .silc-accordion__label,
            & + .silc-accordion__content {
                box-shadow: inset rem(3) 0 0 $mustard,
                inset 0 rem(3) 0 0 $mustard,
                inset rem(-3) 0 0 0 $mustard,
                inset 0 rem(-3) 0 0 $mustard;
            }
        }
    }
    .silc-accordion__label {
        border: none;
        color: $mblue;
        font-size: rem(20);
        letter-spacing: em(-.2, 20);
        transition: .3s box-shadow ease-in-out;
        &::before,
        &::after {
            content: "";
            background-color: $mblue;
            display: block;
            height: rem(2);
            width: rem(15);
            position: absolute;
            top: 50%;
            left: rem(25);
        }
        &::before {
            transform: translate(-50%, -50%);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
    .silc-accordion__label--active {
        &::after {
            display: none;
        }
    }
    .silc-accordion__content {
        box-shadow: inset rem(3) 0 0 $navy,
        inset 0 rem(3) 0 0 $navy,
        inset rem(-3) 0 0 0 $navy,
        inset 0 rem(-3) 0 0 $navy;
        border-top: none;
        margin-top: rem(-3);
        padding-top: rem(10);
        position: relative;
        transition: .3s box-shadow ease-in-out;
        &::before {
            content: "";
            background-color: $white;
            height: rem(3);
            position: absolute;
            top: 0;
            left: rem(3);
            right: rem(3);
        }
    }

    /* Tables */

    table {
        box-shadow: rem(1) rem(13) rem(17) rem(-5) rgba($mblue, .2);
        tr {
            &:nth-child(odd),
            &:nth-child(even) {
                td {
                    background-color: $white;
                }
            }
        }
        td {
            border-bottom: rem(2) solid #E9E9E9 !important;
            &:not(:first-child) {
                @include media ('table') {
                    border-left: rem(2) solid #E9E9E9;
                }
            }
        }
    }

    /* Full-width Callout */
    .full-width-cta {
        h2 {
            font-size: rem(40);
            line-height: rem(50);
            @include media('medium') {
              font-size: rem(80);
              line-height: rem(109);
            }
        }
    }

    /* Facebook/Twitter Feed */
    .facebook-twitter-feed {
        background-color: $skyblue;
        > .compartment {
            @include media("medium") {
                position: relative;
            }
            > .silc-grid .silc-grid__col--11-medium {
                @include media("medium") {
                    padding-left: rem(140);
                    width: 100%;
                }
            }
        }
        .fancy-link {
            span {
                color: $white;
            }
            .icon-arrow-right {
                background-color: transparent;
                &::before {
                    color: $white;
                }
            }
        }
        .social-links__item {
            @include media("medium") {
                position: absolute;
                top: 0;
            }
            &:hover {
                i {
                    background-color: $mustard;
                    &::before {
                        color: $mblue;
                    }
                }
            }
            i {
                background-color: $mblue;
                height: rem(86);
                width: rem(86);
                position: relative;
                &::before {
                    color: $white;
                    font-size: rem(32);
                    transition: .2s color ease-in-out;
                }
            }
        }
    }

    .body-text--social-media {
        @extend %serif-italic;
    }

    /* Announcements */
    .announcements {
      .body-text--date {
          @extend %sans-regular;
      }
    }
    .announcements__block {
        border: rem(1) solid $gray4;
        box-shadow: rem(1) rem(7) rem(23) rgba($mblue, .2);
        padding: rem(24) rem(24) rem(24) rem(32);
    }
    .announcements__block--featured {
        border-left: rem(4) solid $mustard;
        .announcements__title {
            font-size: rem(24);
        }
    }

    /* Testimonial */
    
    .alumni-profile {
        border: rem(1) solid $gray4;
        border-radius: 0;
        box-shadow: rem(1) rem(7) rem(23) rgba($mblue, .2);
        padding: rem(30);
    }
    .alumni-profile__caption {
        h3 {
            color: $white;
            font-size: rem(20);
            margin-bottom: rem(3);
        }
        h4 {
            @extend %sans-bold;
            color: $white;
            font-size: rem(16);
            margin-bottom: 0;
            text-transform: none;
        }
    }
    .alumni-profile__quote {
        padding: rem(20) rem(30);
    }
    blockquote {
        @extend %sans-bold;
        font-size: rem(20);
        line-height: (32 / 20);
        padding-left: rem(70);
        &::before {
            color: $mustard;
            font-size: rem(30);
            left: rem(35);
            transform: translateX(-50%);
        }
    }

    /* Carousels */

    .slideshow {
        box-shadow: rem(1) rem(7) rem(23) rgba($mblue, .2);
    }
    .carousel .flickity-prev-next-button,
    .slideshow .flickity-prev-next-button {
        background-color: $mblue;
        &:hover,
        &:focus {
            background-color: $lightblue;
            &::after {
                color: $white;
            }
        }
        &::after {
            color: $white;
        }
    }

    /* Video embed */
    .video__wrap {
        border: rem(1) solid $gray4;
        box-shadow: rem(1) rem(7) rem(23) rgba($mblue, .2);
    }
    .video__desc {
        border: rem(1) solid $gray4;
        border-top: 0;
        border-radius: 0;
        box-shadow: rem(1) rem(7) rem(23) rgba($mblue, .2);
        color: $black;
        padding: rem(28) rem(30) rem(36);
        position: relative;
    }
    .media-caption {
        color: $black;
    }

    /* External Feeds */
    
    .faculty-profile {
        box-shadow: rem(1) rem(7) rem(23) rgba($mblue, .2);
        .icon {
            &::before {
                color: #6A808C;
            }
        }
    }
    .faculty-profile__block {
        h3,
        h4,
        h5 {
            color: $navy;
        }
        h4 {
            font-size: rem(15);
            text-transform: none;
        }
        h5 {
            @extend %sans-regular;
            font-size: rem(15);
        }
    }
    .faculty-profile__divider {
        background-color: #E9E9E9;
    }
    .faculty-profile__link {
        @extend %sans-regular;
        font-size: rem(15);
    }
    .faculty-profile__btn {
        .fancy-link {
            span {
                color: $mblue;
            }
            .icon-arrow-right {
                background-color: transparent;
                &::before {
                    color: $mblue;
                }
            }
        }
    }

    /* Forms */

    input,
    textarea,
    select {
        box-shadow: inset rem(1) 0 0 $gray4,
        inset 0 rem(1) 0 0 $gray4,
        inset rem(-1) 0 0 0 $gray4,
        inset 0 rem(-1) 0 0 $gray4,
        rem(1) rem(1) rem(8) rgba($mblue, .2);
        transition: .2s box-shadow ease-in-out;
        &:focus,
        &:active {
            border: none;
            box-shadow: inset rem(2) 0 0 $navy,
            inset 0 rem(2) 0 0 $navy,
            inset rem(-2) 0 0 0 $navy,
            inset 0 rem(-2) 0 0 $navy,
            rem(1) rem(1) rem(8) rgba($mblue, .2);
            padding-left: rem(15);
        }
        &[type="submit"],
        &[type="radio"],
        &[type="checkbox"] {
            box-shadow: none;
        }
    }
    span.fieldset-legend {
        @extend %sans-bold;
        background-color: #D6E0E7;
        font-size: rem(15);
        padding: rem(10) rem(15);
    }
    .checkboxes--wrapper {
        span.fieldset-legend {
            background-color: transparent;
            margin: 0;
            padding: 0;
        }
    }
}