 {{>@block-header--no-btn}}

<div class="silc-accordion silc-accordion--become-tabs">
  <nav class="silc-accordion__nav">
    <ul class="silc-accordion__nav-items">
      <li class="silc-accordion__nav-item"><a class="silc-accordion__nav-link" href="#silc-accordion-become-tabs-0">Prospective
          Students
        </a></li>
      <li class="silc-accordion__nav-item"><a class="silc-accordion__nav-link" href="#silc-accordion-become-tabs-1">Tab 2</a></li>
    </ul>
  </nav>
  <section class="silc-accordion__section" id="silc-accordion-become-tabs-0">
    <header class="silc-accordion__header">
      <h2 class="silc-accordion__label">Prospective Students</h2>
    </header>
    <div class="silc-accordion__content">





      <h3>Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>
      <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante
        arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum
        nunc. Nunc nonummy metus. </p>
      {{>@listed-links}}



    </div>
  </section>
  <section class="silc-accordion__section" id="silc-accordion-become-tabs-1">
    <header class="silc-accordion__header">
      <h2 class="silc-accordion__label">Tab 2</h2>
    </header>
    <div class="silc-accordion__content">

      <div class="section-content__floating-img">
        <div class="section-content__img" style="background-image:url('{{path '/img/Reading_to_Student.jpg'}}')"></div>
        <p class="body-text--caption">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
          eget, arcu.</p>
      </div>
      <h3>Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>
      <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante
        arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum
        nunc. Nunc nonummy metus. </p>
      <p>{{>@fancy-link fancyLinktext="Read the Article"}} </p>
    </div>
  </section>
</div>