<div class="news-and-events news-and-events--department">
    {{>@block-header}}
    <div class="silc-grid">
        <div class="silc-grid__col silc-grid__col--7-medium">
            <div class="news-and-events--featured">
                <div class="news-and-events__img" style="background-image:url('{{path '/img/reading_to_student.jpg'}}')"></div>

                <div class="news-and-events__desc">

                    <div class="news-and-events__main">
                        <span class="news-and-events__date">May 21, 2018</span>
                        <h3 class="header--h3-large">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec elementum
                            sed varius.</h3>
                        <p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate.
                            Adipiscing vitae est, Etiam elit elit, elementum sed varius at.</p>
                    </div>
                    <div class="news-and-events__btn">
                        {{>@fancy-link--dark fancyLinktext="View Featured Story"}}
                    </div>
                </div>
            </div>
        </div>



        <div class="silc-grid__col silc-grid__col--5-medium">

            <a href="#" class="news-and-events__block">
                <div class="news-and-events__desc">
                    <span class="news-and-events__date">May 21, 2018</span>

                    <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean Massa
                    </h3>


                </div> </a>
            <a href="#" class="news-and-events__block">
                <div class="news-and-events__desc">
                    <span class="news-and-events__date">May 21, 2018</span>

                    <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean Massa
                    </h3>


                </div> </a>
            <a href="#" class="news-and-events__block">
                <div class="news-and-events__desc">
                    <span class="news-and-events__date">May 21, 2018</span>

                    <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean Massa
                    </h3>


                </div> </a>
            <a href="#" class="news-and-events__block">
                <div class="news-and-events__desc">
                    <span class="news-and-events__date">May 21, 2018</span>

                    <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean Massa
                    </h3>


                </div> </a>
            {{!-- <div class="silc-grid">
                <div class="silc-grid__col silc-grid__col--12">
                    <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__date">May 21, 2018</span>

                            <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean
                                Massa
                            </h3>


                        </div> </a></div>
                <div class="silc-grid__col silc-grid__col--12">
                    <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__date">May 21, 2018</span>

                            <h3 class="news-and-events__title header--h3-small">Cum Sociis Natoque Penatibus Et Magnis Dis
                                Parturient Montes, Nascetur Ridiculus Mus</h3>


                        </div> </a></div>
                <div class="silc-grid__col silc-grid__col--12"> <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__date">May 21, 2018</span>

                            <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean
                                Massa
                            </h3>


                        </div> </a></div>
                <div class="silc-grid__col silc-grid__col--12"> <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__date">May 21, 2018</span>

                            <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean
                                Massa
                            </h3>


                        </div> </a></div>
            </div> --}}
        </div>
    </div>
    <div>