.programs {
    p {
        margin: rem(15) 0;
        @extend %sans-regular;
        font-size: 16px;
        letter-spacing: 0;
        line-height: rem(23);
    }
    padding: rem(50) 0;
    h4 {
        @extend %serif-bold;
        font-size: rem(20);
        color: $white;
        letter-spacing: rem(1);
        border-bottom: rem(1) solid $white;
        text-transform: uppercase;
        padding-bottom: rem(10);
        margin-top: rem(30);
    }
    &__nav {
        margin-top: rem(28);
    }
}

.hp-programs-feed {
    .programs {
        padding: 40px;
    }
    .hp-programs-feed--meta {
        margin-bottom: 0.9375rem;
    }
    .fancy-link {
        margin-bottom: 0px;
        text-decoration: underline !important;
        span {
            &:hover {
                color: $yellow  !important;
            }
        }
    }
}