<div class="programs section--blue">

  <div class="compartment">
    <h2 class="header--h2 header--white">Programs</h2>
    <p>Sed sed ultricies arcu. Sed sit amet aliquet quam, sit amet lobortis turpis. Curabitur fringilla eget urna sit amet
      cursus. Duis dapibus ante ac ex interdum, eget fermentum eros bibendum.</p>
    <div class="programs__nav">
      <h4>Undergraduate</h4>
      <nav>
        <ul>
          <div class="silc-grid silc-grid--collapse">
            {{#each programs.fancyLinktext}}
            <div class="silc-grid__col silc-grid__col--4-table silc-grid__col--6-small silc-grid__col--3-large-s">{{>@fancy-link--light fancyLinktext=this}}</div>
            {{/each}}
          </div>
        </ul>
      </nav>
    </div>
      <div class="programs__nav">
      <h4>Graduate</h4>
      <nav>
        <ul>
          <div class="silc-grid silc-grid--collapse">
            {{#each programs.fancyLinktext2}}
            <div class="silc-grid__col silc-grid__col--4-table silc-grid__col--6-small silc-grid__col--3-large-s">{{>@fancy-link--light fancyLinktext=this}}</div>
            {{/each}}
          </div>
        </ul>
      </nav>
    </div>
  </div>
</div>
