<div class="section-content">
  {{>@block-header blockTitle= "Giving Impact" titleIcon= "hearth" modifier="red" fancyLinktext= "Link to Page"}}
  <div class="section-content__block">
    <h3>Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>
    <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante
      arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc.
      Nunc nonummy metus. </p>
    <p>{{>@fancy-link fancyLinktext="Read the Article"}} </p>
  </div>

</div>
