/**************************\
  Basic Modal Styles for micromodal library
\**************************/

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 800px;
  max-height: 100vh;
  margin: 0 30px;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 10000;
  position: relative;
}

.modal__content .faculty-profile__img {
  @include media('medium-s') {
    float: left;
    margin-right: 1.25rem;
  }
}

.modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  @include media('medium') {
    margin-top:0px;
    justify-content: space-between;
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.25;
  box-sizing: border-box;
  font-size: 1.75rem;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  padding: 16px 22px;
  position: absolute;
  right: 0;
  top: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: .5rem;
  line-height: 1.5;
  blockquote {
    font-size: 1.3rem;
    line-height: 1.615;
  }
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

@keyframes mmSlideInLeft {
  from { transform: translate3d(100%, 0, 0); }
    to { transform: translate3d(0, 0, 0); }
}

@keyframes mmSlideOutLeft {
  from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-100%, 0, 0); }
}

@keyframes mmSlideInRight {
  from { transform: translate3d(-100%, 0, 0); }
    to { transform: translate3d(0, 0, 0); }
}

@keyframes mmSlideOutRight {
  from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(100%, 0, 0); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

/* Playlist Styles */

.modal.modal--in-playlist {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: .3s opacity ease-in-out,
    .3s transform ease-in-out,
    .3s visibility ease-in-out;
  z-index: 10000;
  &[aria-hidden="false"] {
    opacity: 1;
    visibility: visible;
    &.slide-in {
      .modal__container {
        animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
      }
      .modal__overlay {
        animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
      }
    }
    &.slide-left {
      .modal__container {
        animation: mmSlideInLeft .3s cubic-bezier(0, 0, .2, 1);
      }
    }
    &.slide-right {
      .modal__container {
        animation: mmSlideInRight .3s cubic-bezier(0, 0, .2, 1);
      }
    }
  }
  &[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
    &.slide-out {
      .modal__container {
        animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
      }
      .modal__overlay {
        animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
      }
    }
    &.slide-left {
      .modal__container {
        animation: mmSlideOutLeft .3s cubic-bezier(0, 0, .2, 1);
      }
    }
    &.slide-right {
      .modal__container {
        animation: mmSlideOutRight .3s cubic-bezier(0, 0, .2, 1);
      }
    }
  }
  .modal__container {
    margin: 0 60px;
    width: 100%;
    @include media("medium") {
      margin: 0 100px;
    }
  }
}

.modal-playlist__nav-button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  height: 100vh;
  opacity: 0;
  padding: 0;
  position: fixed;
  top: 0;
  transition: .3s opacity ease-in-out,
    .3s visibility ease-in-out;
  visibility: hidden;
  width: rem(44);
  z-index: 10000;
  &.next {
    &:after {
      transform: translateY(-50%) rotate(45deg);
      border-right: 3px solid hsla(0, 0%, 100%, .8);
      box-shadow: 2px 0 rgba(0, 0, 0, .2);
      right: 33.333%;
      border-radius: 0 3px 0 0;
      @include media("medium-l") {
        border-right: 4px solid hsla(0, 0%, 100%, .8);
      }
    }
  }
  &.prev {
    &:after {
      transform: translateY(-50%) rotate(-45deg);
      border-left: 3px solid hsla(0, 0%, 100%, .8);
      box-shadow: -2px 0 rgba(0, 0, 0, .2);
      left: 33.333%;
      border-radius: 3px 0 0 0;
      @include media("medium-l") {
        border-left: 4px solid hsla(0, 0%, 100%, .8);
      }
    }
  }
  &[aria-hidden="false"] {
    opacity: 1;
    visibility: visible;
  }
  &:focus {
    outline: none;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    height: 24px;
    width: 24px;
    border-top: 3px solid rgba(255, 255, 255, .8);
    @include media("medium-l") {
      height: 36px;
      width: 36px;
      border-top: 4px solid rgba(255, 255, 255, .8);
    }
  }
}

.lum-previous-button,
.modal-playlist__nav-button.prev {
  left: rem(12);
  @include media("medium") {
    left: rem(40);
  }
  @include media("1300") {
    left: 10%;
  }
  @include media("big") {
    left: 15%;
  }
}

.lum-next-button,
.modal-playlist__nav-button.next {
  right: rem(12);
  @include media("medium") {
    right: rem(40);
  }
  @include media("1300") {
    right: 10%;
  }
  @include media("big") {
    right: 15%;
  }
}
