<div class="news-and-events">
    {{>@block-header blockTitle= "Department News and Events" titleIcon= "news" fancyLinktext= "Link to Page"}}
    <div class="silc-grid">
        <div class="silc-grid__col silc-grid__col--6-medium">
            <h2 class="header--h2">News</h2>
            {{>@fancy-link fancyLinktext="More News"}}
            <div class="silc-grid">
                <div class="silc-grid__col silc-grid__col--12">
                    <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__date">May 21, 2018</span>
                            <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean
                                Massa
                            </h3>
                            <p class="body-text--small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</p>
                        </div>
                    </a>
                </div>
                <div class="silc-grid__col silc-grid__col--12">
                    <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__date">May 21, 2018</span>
                            <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean
                                Massa
                            </h3>
                            <p class="body-text--small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</p>
                        </div>
                    </a>
                </div>
                <div class="silc-grid__col silc-grid__col--12">
                    <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__date">May 21, 2018</span>
                            <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean
                                Massa
                            </h3>
                            <p class="body-text--small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</p>
                        </div>
                    </a>
                </div>
                <div class="silc-grid__col silc-grid__col--12">
                    <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__date">May 21, 2018</span>
                            <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean
                                Massa
                            </h3>
                            <p class="body-text--small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="silc-grid__col silc-grid__col--6-medium">
            <h2 class="header--h2">Events</h2>
            {{>@fancy-link fancyLinktext="More Events"}}
            <div class="silc-grid">
                <div class="silc-grid__col silc-grid__col--12">
                    <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__time">11:30 a.m. - 12:30 p.m.</span><span class="news-and-events__date">May
                                21, 2018</span>
                            <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean
                                Massa
                            </h3>
                            <p class="body-text--small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</p>
                        </div>
                    </a>
                </div>
                <div class="silc-grid__col silc-grid__col--12">
                    <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__time">11:30 a.m. - 12:30 p.m.</span><span class="news-and-events__date">May
                                21, 2018</span>
                            <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean
                                Massa
                            </h3>
                            <p class="body-text--small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</p>
                        </div>
                    </a>
                </div>
                <div class="silc-grid__col silc-grid__col--12">
                    <a href="#" class="news-and-events__block">
                        <div class="news-and-events__desc">
                            <span class="news-and-events__time">11:30 a.m. - 12:30 p.m.</span><span class="news-and-events__date">May
                                21, 2018</span>
                            <h3 class="news-and-events__title header--h3-small">Aenean Commodo Ligula Eget Dolor. Aenean
                                Massa
                            </h3>
                            <p class="body-text--small">Aenean Commodo Ligula Eget Dolor. Aenean Massa</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>