.node--unpublished {
  background-color: #fff4f4;
}
.entity-moderation-form {
    border:1px solid;
    background-color: #f5f5f2;
}
.entity-moderation-form__item {
    flex:1;
    .form-item {
        input, textarea,select {
            border:1px solid;
        }

    }
    &:last-of-type {
        text-align: right;
    }
}

