<a class="silc-offcanvas__trigger" href="#silc-offcanvas-1">Trigger Offcanvas</a>
<div class="silc-offcanvas" id="silc-offcanvas-1">
    <a class="silc-offcanvas__trigger silc-offcanvas__trigger--close" href="#silc-offcanvas-1">Close</a>
    <p>This is off canvas</p>
</div>
