<div class="section-content">
  {{>@block-header--slim}}
  <div class="section-content__block">
    <div class="silc-grid silc-grid--collapse">
      <div class="silc-grid__col silc-grid__col--4-large">
        <div class="section-content__img" style="background-image:url('{{path '/img/students-walking.jpg'}}')"></div>

      </div>
      <div class="silc-grid__col silc-grid__col--8-large">
        <h3>Aenean Commodo Ligula Eget Dolor. Aenean Massa</h3>
        <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer
          ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum
          rutrum nunc. Nunc nonummy metus. </p>
        <p>{{>@fancy-link fancyLinktext="Read the Article"}} </p>
      </div>

    </div>
  </div>
</div>
